<style>
    .success tr td{
        /*color: red;*/
    }
    .resultaat_table tr td, table tr th {
        width: 120px;
    }
    .clsEvenRow {
        background-color: #CCCCCC;
    }
</style>
<h2><?php echo $title ?></h2>
<table class="resultaat_table <?php echo ($success?'success':'fail') ?>">
    <tr>
        <?php if($success) { ?>
        <th>Plaats</th>
        <?php } ?>
        <th>Naam</th>
        <th>Straftijd</th>
        <th>Gemiddelde tijd</th>
        <th>Aantal ronden</th>
    </tr>
    <?php
    $bgColorIndex = 0;
    $plaats = 1;
    foreach ( $Resultaat as $record )
    {
    ?>
    <tr class="<?php  
        echo ($bgColorIndex % 2?'clsEvenRow':'clsOddRow');
        ?>" >
        <?php if($success) { ?>
        <td style="width: 70px; text-align: center">
            <?php  
            echo $plaats++; 
            ?>
        </td>
        <?php } ?>

        <td>
            <?php  
            echo $record->getNaam(); 
            ?>
        </td>

        <td style="text-align: right">
            <?php  
            echo $record->getStraf(); 
            ?>
        </td>

        <td style="text-align: right">
            <?php  
            echo $record->getGemiddeld(); 
            ?>
        </td>

        <td style="text-align: center">
            <?php  
            echo $record->getRondes(); 
            ?>
        </td>



    </tr>
    <?php
    $bgColorIndex++;
    }
    ?>
</table>
