<style>
    .success tr td{
        /*color: red;*/
    }
    .file_table tr td, table tr th {
        width: 120px;
    }
    .clsEvenRow {
        background-color: #CCCCCC;
    }
</style>
<script>
    function verwerk(fileId) {
        $.get('/verwerk_import.php?id=' + fileId, function(data) {
            $('#uploaded_file_div').html(data);
            resultaat(fileId);
//            $('#verwerk_' + fileId).html(data);
        });
    }
    function showform(uid) {
        $.get('/showform.php?e=ImportFile&id=' + uid, function(data) {
            $('#import_file_div').html(data);
        });
    }
    function resultaat(uid) {
        $.get('/resultaat.php?id=' + uid, function(data) {
            $('#import_file_div').html(data);
        });
    }
</script>
<div class="noPrint">

    <h2>Toegepast bestand:</h2>
    <div id="uploaded_file_div">
        <?= $importFileRows ?>
        <?php 
        if($uid) {
        ?>
        <button  
            type="button" 
            onclick="verwerk(<?= $uid?>)"
            >verwerken</button>
    </div>
    <?php 
    }
    ?>

</div>
