<script type="text/javascript">

    $(document).ready(function () {

        $("#formsubmit").click(function () {

            var iframe = $('<iframe name="postiframe" id="postiframe" style="display: none" />');

            $("body").append(iframe);

            var form = $('#import_file');
            form.attr("action", "/upload_file.php");
            form.attr("method", "post");
            form.attr("enctype", "multipart/form-data");
            form.attr("encoding", "multipart/form-data");
            form.attr("target", "postiframe");
            form.attr("file", $('#file').val());
            form.submit();

            $("#postiframe").load(function () {
                iframeContents = $("#postiframe")[0].contentWindow.document.body.innerHTML;
                $("#textarea").html(iframeContents);
            });

            return false;

        });

    });
</script>
<h2><?= $sessie ?></h2>
<div>
    <a href="/sessies/RacedagKlasse/<?= $sessie->getRacedagKlasseId() ?>">Alle sessies</a>
</div>
<div id="import_file_div">

</div>
<div id="textarea">
</div>
<div id="import_file_lijst">
    <?= $files ?>
</div>
<hr/>
<div class="noPrint">
    <h2>CSV bestand uploaden:</h2>
    <div id="uploader">
        <form id="import_file" action="/upload_file.php" method="post"
              enctype="multipart/form-data">
            <label for="file">Filename:</label>
            <input type="hidden" name="sessies_id" value="<?= $sessie->getUid() ?>" />
            <input type="file" name="file" id="file"><br/>
            <button 
                id="formsubmit" 
                type="button" 
                >Upload</button>
        </form>
    </div>
</div>
