<form 
    id="frmImportFile" 
    name="ImportFile" 
    method="POST" 
    >
    <input type="hidden" id="act" name="act" value="" />
    <input type="hidden" name="uid" value="<?php  echo $record->getUid(); ?>"  /> 
    <div id="import_file_fields">
        <table>
            <?php 
            if(isset($messages)) {
            echo '<div class="clsError">';
            foreach ( $messages as $message )
            {	echo $message . '<br/>';
            }
            echo '</div>';
            }
            ?>				

            <tr>
                <td valign="top">
                    <label for="name">
                        Bestandsnaam&nbsp;&nbsp;
                    </label>

                </td>
                <td>
                    <?php  echo $record->getName();  ?>



                </td>
            </tr>

        </table>
        <!--    <button
                onclick="
                    $.post('/save.php?e=ImportFile', $('#frmImportFile').serialize(), function(json) {
                        var data = jQuery.parseJSON(json);
                        jQuery('#import_file_div').html(data.detail);
                        jQuery('#import_file_lijst').html(data.lijst);
                    });
                "
                type="button">Save</button>-->
        <button
            onclick="
                $.post('/delete.php?e=ImportFile', $('#frmImportFile').serialize(), function(json) {
                    var data = jQuery.parseJSON(json);
                    jQuery('#import_file_lijst').html(data.lijst);
                    jQuery('#import_file_div').html('');
                });
            "

            type="button">Delete</button>
    </div>
</form>