
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<script>
    jQuery(function() {
        jQuery( "#datum" ).datepicker({
            dateFormat: 'dd-mm-yy'
        });
    });
</script>
<?php 
$uid = $record->getUid();
if(isset($messages)) {
echo '<div class="clsError">';
foreach ( $messages as $message )
{	echo $message . '<br/>';
}
echo '</div>';
}
?>
<form 
    id="frmRacedag" 
    name="Racedag" 
    method="POST" 
    >
    <input type="hidden" id="act" name="act" value="" />
    <input type="hidden" name="uid" value="<?php  echo $uid; ?>"  /> 
    <table>
        <tr>
            <td valign="top">
                <label for="datum">
                    <?php  echo $record->getLabel('datum'); ?>
                </label>
            </td>
            <td>
                <input type="<?php  echo $record->getHtmlType('datum');  ?>" 
                       name="datum" 
                       id="datum"
                       value="<?php  echo $record->getDatum();  ?>" 
                       <?php  
                       echo $record->getHtmlSpecialAttributes('datum');
                       ?>
                       />



            </td>
        </tr>
        <tr>
            <td valign="top">
                <label for="naam">
                    <?php  echo $record->getLabel('naam'); ?>
                </label>

            </td>
            <td>

                <input type="<?php  echo $record->getHtmlType('naam');  ?>" 
                       name="naam" 
                       id="naam"
                       value="<?php  echo $record->getNaam();  ?>" 
                       <?php  
                       echo $record->getHtmlSpecialAttributes('naam');
                       ?>
                       />



            </td>
        </tr>
        <tr>
            <td valign="top">
                <label for="min_ronden_perc">
                    % min. ronden
                </label>

            </td>
            <td>

                <input type="text" 
                       name="min_ronden_perc" 
                       id="min_ronden_perc"
                       value="<?php  echo $record->getMinRondenPerc();  ?>" 
                       />

            </td>
        </tr>
    </table>

    <button
        onclick="
            $.post('/save.php?e=Racedag', $('#frmRacedag').serialize(), function(json) {
                //                jQuery.post(ajaxurl, data, function(json) {
                location.href='/browselijst/racedag';                
                //                var data = jQuery.parseJSON(json);
                //                jQuery('#racedag').html(data.detail);
                //                jQuery('#racedag_lijst').html(data.lijst);
                //                jQuery('#import_file_div').html(data.lijst);
                //            $('#import_file_div').html(data);
            });
            //            });
        "
        type="button"><?php if(!empty($uid)) echo 'Save'; else echo 'Add'; ?></button>
    <?php if(!empty($uid)) { ?>        
    <button
        onclick="
            $.post('/delete.php?e=Racedag', $('#frmRacedag').serialize(), function(json) {
                //                jQuery.post(ajaxurl, data, function(json) {
                var data = jQuery.parseJSON(json);
                jQuery('#racedag').html(data.detail);
                jQuery('#racedag_lijst').html(data.lijst);
                //                jQuery('#import_file_div').html(data.lijst);
                //            $('#import_file_div').html(data);
            });
        "
        type="button">Delete</button>
    <?php } ?>
</form>