		<table class="table_1">
			<tr>
				<th></th>
			</tr>
<?php			
echo "<?php\n";
?>
	$bgColorIndex = 0;
	foreach ( $<?php echo $className ?> as $record )
	{
<?php
echo "?>\n";
?>
		<tr class="<![CPHP[ 
			 echo ($bgColorIndex % 2?'clsEvenRow':'clsOddRow'); 
			 ]CPHP]>" >
			 <?php echo	$lijstRecords ?>
		</tr>
<?php
echo "<?php\n";
?>
		$bgColorIndex++;
	}
<?php
echo "?>\n";
?>
		</table>
