		<a href="/add/<?php echo $className ?>">Nieuwe <?php echo $className ?></a><br/>
		<table class="table_1">
			<th></th>
<?php			
echo "<?php\n";
?>
	$bgColorIndex = 0;
	foreach ( $<?php echo $className ?> as $record )
	{
<?php
echo "?>\n";
?>
		<tr class="<![CPHP[ 
			 echo ($bgColorIndex % 2?'clsEvenRow':'clsOddRow'); 
			 ]CPHP]>" >
<?php echo	$lijstRecords ?>
		</tr>
<?php
echo "<?php\n";
?>
		$bgColorIndex++;
	}
<?php
echo "?>\n";
?>
		</table>
