<label for="<?php echo $varName?>">
<?php echo $varName?>:

</label>

<?php 
	require_once $_SERVER['DOCUMENT_ROOT'] . "/$subDir/classes/lib/dbTable.php"	;

	/* if it's an id, create select / option */
	$arr = explode ("_", $varName);
	
	// last part of varname == "id"?
	$isId =  ( strtolower($arr[count($arr) - 1]) == "id" );
	
	// get classname
	$arr[count($arr) - 1] = "";
	$className = "";
	$tableName = "";
	$sep = "";
	foreach ($arr as $a )
	{	$className .= ucFirst($a);
		if ($a . "" != "" ) 
		{	$tableName .= $sep . $a;
		}
		$sep = "_";
	}

	// foreign key?
//	require_once $_SERVER['DOCUMENT_ROOT'] . "/$subDir/entity/$className.php"	;
//	$instance = new $className();
//	$fkInfo = $instance->getForeignKey($varName);
//	if ($fkInfo )
//	{	// foreign key, create select

	if 	(	$isId &&
			count($arr) > 1 &&
			dbTable::exists($tableName) 
//			&&	$tableName . "_id" != $varName
		)
	{	// id, create select
?>
<![CPHP[		$this->selectBox("<?php echo $varName ?>","<?php echo $className ?>","");	]CPHP]>

<br/>		
<?php		
		
				
	}
	else
	{
		
?>

<input type="text" 
	name="<?php echo $varName?>" 
	id="<?php echo $varName?>"
	value="<![CPHP[ echo $record->get<?php echo $funcName?>();  ]CPHP]>" />
<br/>

<?php
	}
?>