		<form 
			id="frmAuth" 
			name="Auth" 
			method="POST" 
			action="/update/auth"
			class="niceform">
			<input type="hidden" id="act" name="act" value="" />
<!-- 			<input type="hidden" name="uid" value="<?php  echo $record->getUid(); ?>"  /> -->
			<fieldset>
				<legend>Auth</legend>
				<table>
<?php 
	if(isset($messages)) {
		echo '<div class="clsError">';
		foreach ( $messages as $message )
		{	echo $message . '<br/>';
		}
		echo '</div>';
	}
?>				

<tr>
	<td valign="top">
<label for="uid">
	<?php  echo $record->getLabel('uid'); ?>
</label>

	</td>
	<td>

<input type="<?php  echo $record->getHtmlType('uid');  ?>" 
	name="uid" 
	id="uid"
	value="<?php  echo $record->getUid();  ?>" 
	<?php  
			echo $record->getHtmlSpecialAttributes('uid');
	  ?>
	/>



	</td>
</tr>
<tr>
	<td valign="top">
<label for="level">
	<?php  echo $record->getLabel('level'); ?>
</label>

	</td>
	<td>

<input type="<?php  echo $record->getHtmlType('level');  ?>" 
	name="level" 
	id="level"
	value="<?php  echo $record->getLevel();  ?>" 
	<?php  
			echo $record->getHtmlSpecialAttributes('level');
	  ?>
	/>



	</td>
</tr>
<tr>
	<td valign="top">
<label for="naam">
	<?php  echo $record->getLabel('naam'); ?>
</label>

	</td>
	<td>

<input type="<?php  echo $record->getHtmlType('naam');  ?>" 
	name="naam" 
	id="naam"
	value="<?php  echo $record->getNaam();  ?>" 
	<?php  
			echo $record->getHtmlSpecialAttributes('naam');
	  ?>
	/>



	</td>
</tr>				
				</table>
			</fieldset>
			
			<button
				onclick="
					frm = document.getElementById('frmAuth');
					el_act = document.getElementById('act');
					el_act.value = 'SAVE';
					frm.submit();
				"
			 	type="button">Save</button>
			 <button
				onclick="
					frm = document.getElementById('frmAuth');
					el_act = document.getElementById('act');
					el_act.value = 'REMOVE';
					frm.submit();
				"
			 	type="button">Delete</button>
			 <button
				onclick="
					frm = document.getElementById('frmAuth');
					el_act = document.getElementById('act');
					el_act.value = 'CANCEL';
					frm.submit();
				"
			 	type="button">Cancel</button>
		</form>