<fieldset>
	<table>
<tr>
	<td>
<label for="uid">
	<?php  echo $record->getLabel('uid'); ?>
</label>
	</td>
	<td>

<?php  echo $record->getUid();  ?>
	</td>
</tr>
<tr>
	<td>
<label for="plaats">
	<?php  echo $record->getLabel('plaats'); ?>
</label>
	</td>
	<td>

<?php  echo $record->getPlaats();  ?>
	</td>
</tr>
<tr>
	<td>
<label for="naam">
	<?php  echo $record->getLabel('naam'); ?>
</label>
	</td>
	<td>

<?php  echo $record->getNaam();  ?>
	</td>
</tr>
<tr>
	<td>
<label for="msec_straf">
	<?php  echo $record->getLabel('msec_straf'); ?>
</label>
	</td>
	<td>

<?php  echo $record->getMsecStraf();  ?>
	</td>
</tr>
<tr>
	<td>
<label for="msec_gemiddeld">
	<?php  echo $record->getLabel('msec_gemiddeld'); ?>
</label>
	</td>
	<td>

<?php  echo $record->getMsecGemiddeld();  ?>
	</td>
</tr>
<tr>
	<td>
<label for="rondes">
	<?php  echo $record->getLabel('rondes'); ?>
</label>
	</td>
	<td>

<?php  echo $record->getRondes();  ?>
	</td>
</tr>
<tr>
	<td>
<label for="import_file_id">
	<?php  echo $record->getLabel('import_file_id'); ?>
</label>
	</td>
	<td>

<?php  echo $record->getImportFileId();  ?>
	</td>
</tr>
	</table>
</fieldset>