		<table class="table_1">
			<tr>
				<th></th>
			</tr>
<?php
	$bgColorIndex = 0;
	foreach ( $VwRondesResultaat as $record )
	{
?>
		<tr class="<?php  
			 echo ($bgColorIndex % 2?'clsEvenRow':'clsOddRow'); 
			 ?>" >
			 <td>
<a href="/browse/VwRondesResultaat/<?php echo $record->getUid()?>">
<?php  
	echo $record->getResultaatNaam($record->getResultaatNaam()); 
?>
</a>
</td>

<td>
<a href="/browse/VwRondesResultaat/<?php echo $record->getUid()?>">
<?php  
	echo $record->getSessies($record->getSessiesId()); 
?>
</a>
</td>

<td>
<a href="/browse/VwRondesResultaat/<?php echo $record->getUid()?>">
<?php  
	echo $record->getSessieNaam($record->getSessieNaam()); 
?>
</a>
</td>

<td>
<a href="/browse/VwRondesResultaat/<?php echo $record->getUid()?>">
<?php  
	echo $record->getRondes($record->getRondes()); 
?>
</a>
</td>

<td>
<a href="/browse/VwRondesResultaat/<?php echo $record->getUid()?>">
<?php  
	echo $record->getMaxRondes($record->getMaxRondes()); 
?>
</a>
</td>

<td>
<a href="/browse/VwRondesResultaat/<?php echo $record->getUid()?>">
<?php  
	echo $record->getRondesPerc($record->getRondesPerc()); 
?>
</a>
</td>

		</tr>
<?php
		$bgColorIndex++;
	}
?>
		</table>
