<fieldset>
	<table>
<tr>
	<td>
<label for="racedag_klasse_id">
	<?php  echo $record->getLabel('racedag_klasse_id'); ?>
</label>
	</td>
	<td>
<br />
<font size='1'><table class='xdebug-error xe-notice' dir='ltr' border='1' cellspacing='0' cellpadding='1'>
<tr><th align='left' bgcolor='#f57900' colspan="5"><span style='background-color: #cc0000; color: #fce94f; font-size: x-large;'>( ! )</span> Notice: Undefined index: Create Table in C:\xampp\htdocs\sam\MVC\sys\classes\lib\dbTable.php on line <i>616</i></th></tr>
<tr><th align='left' bgcolor='#e9b96e' colspan='5'>Call Stack</th></tr>
<tr><th align='center' bgcolor='#eeeeec'>#</th><th align='left' bgcolor='#eeeeec'>Time</th><th align='left' bgcolor='#eeeeec'>Memory</th><th align='left' bgcolor='#eeeeec'>Function</th><th align='left' bgcolor='#eeeeec'>Location</th></tr>
<tr><td bgcolor='#eeeeec' align='center'>1</td><td bgcolor='#eeeeec' align='center'>0.1030</td><td bgcolor='#eeeeec' align='right'>478800</td><td bgcolor='#eeeeec'>{main}(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>0</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>2</td><td bgcolor='#eeeeec' align='center'>0.1321</td><td bgcolor='#eeeeec' align='right'>501080</td><td bgcolor='#eeeeec'>MVC->main(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>331</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>3</td><td bgcolor='#eeeeec' align='center'>2.1382</td><td bgcolor='#eeeeec' align='right'>1907000</td><td bgcolor='#eeeeec'>TemplateEngine->execTemplate(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>169</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>4</td><td bgcolor='#eeeeec' align='center'>2.1387</td><td bgcolor='#eeeeec' align='right'>1957504</td><td bgcolor='#eeeeec'>require( <font color='#00bb00'>'C:\xampp\htdocs\sam\MVC\sys\template\browseDetailRecords.php'</font> )</td><td title='C:\xampp\htdocs\sam\MVC\sys\classes\lib\TemplateEngine.php' bgcolor='#eeeeec'>..\TemplateEngine.php<b>:</b>57</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>5</td><td bgcolor='#eeeeec' align='center'>2.1448</td><td bgcolor='#eeeeec' align='right'>1959424</td><td bgcolor='#eeeeec'>dbTable->getForeignKey(  )</td><td title='C:\xampp\htdocs\sam\MVC\sys\template\browseDetailRecords.php' bgcolor='#eeeeec'>..\browseDetailRecords.php<b>:</b>13</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>6</td><td bgcolor='#eeeeec' align='center'>2.1448</td><td bgcolor='#eeeeec' align='right'>1959424</td><td bgcolor='#eeeeec'>dbTable->getForeignKeys(  )</td><td title='C:\xampp\htdocs\sam\MVC\sys\classes\lib\dbTable.php' bgcolor='#eeeeec'>..\dbTable.php<b>:</b>583</td></tr>
</table></font>

<?php  echo $record->getRacedagKlasseId();  ?>
	</td>
</tr>
<tr>
	<td>
<label for="resultaat_naam">
	<?php  echo $record->getLabel('resultaat_naam'); ?>
</label>
	</td>
	<td>
<br />
<font size='1'><table class='xdebug-error xe-notice' dir='ltr' border='1' cellspacing='0' cellpadding='1'>
<tr><th align='left' bgcolor='#f57900' colspan="5"><span style='background-color: #cc0000; color: #fce94f; font-size: x-large;'>( ! )</span> Notice: Undefined index: Create Table in C:\xampp\htdocs\sam\MVC\sys\classes\lib\dbTable.php on line <i>616</i></th></tr>
<tr><th align='left' bgcolor='#e9b96e' colspan='5'>Call Stack</th></tr>
<tr><th align='center' bgcolor='#eeeeec'>#</th><th align='left' bgcolor='#eeeeec'>Time</th><th align='left' bgcolor='#eeeeec'>Memory</th><th align='left' bgcolor='#eeeeec'>Function</th><th align='left' bgcolor='#eeeeec'>Location</th></tr>
<tr><td bgcolor='#eeeeec' align='center'>1</td><td bgcolor='#eeeeec' align='center'>0.1030</td><td bgcolor='#eeeeec' align='right'>478800</td><td bgcolor='#eeeeec'>{main}(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>0</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>2</td><td bgcolor='#eeeeec' align='center'>0.1321</td><td bgcolor='#eeeeec' align='right'>501080</td><td bgcolor='#eeeeec'>MVC->main(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>331</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>3</td><td bgcolor='#eeeeec' align='center'>2.1661</td><td bgcolor='#eeeeec' align='right'>1913368</td><td bgcolor='#eeeeec'>TemplateEngine->execTemplate(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>169</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>4</td><td bgcolor='#eeeeec' align='center'>2.1665</td><td bgcolor='#eeeeec' align='right'>1963872</td><td bgcolor='#eeeeec'>require( <font color='#00bb00'>'C:\xampp\htdocs\sam\MVC\sys\template\browseDetailRecords.php'</font> )</td><td title='C:\xampp\htdocs\sam\MVC\sys\classes\lib\TemplateEngine.php' bgcolor='#eeeeec'>..\TemplateEngine.php<b>:</b>57</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>5</td><td bgcolor='#eeeeec' align='center'>2.1684</td><td bgcolor='#eeeeec' align='right'>1965792</td><td bgcolor='#eeeeec'>dbTable->getForeignKey(  )</td><td title='C:\xampp\htdocs\sam\MVC\sys\template\browseDetailRecords.php' bgcolor='#eeeeec'>..\browseDetailRecords.php<b>:</b>13</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>6</td><td bgcolor='#eeeeec' align='center'>2.1684</td><td bgcolor='#eeeeec' align='right'>1965792</td><td bgcolor='#eeeeec'>dbTable->getForeignKeys(  )</td><td title='C:\xampp\htdocs\sam\MVC\sys\classes\lib\dbTable.php' bgcolor='#eeeeec'>..\dbTable.php<b>:</b>583</td></tr>
</table></font>

<?php  echo $record->getResultaatNaam();  ?>
	</td>
</tr>
<tr>
	<td>
<label for="straf">
	<?php  echo $record->getLabel('straf'); ?>
</label>
	</td>
	<td>
<br />
<font size='1'><table class='xdebug-error xe-notice' dir='ltr' border='1' cellspacing='0' cellpadding='1'>
<tr><th align='left' bgcolor='#f57900' colspan="5"><span style='background-color: #cc0000; color: #fce94f; font-size: x-large;'>( ! )</span> Notice: Undefined index: Create Table in C:\xampp\htdocs\sam\MVC\sys\classes\lib\dbTable.php on line <i>616</i></th></tr>
<tr><th align='left' bgcolor='#e9b96e' colspan='5'>Call Stack</th></tr>
<tr><th align='center' bgcolor='#eeeeec'>#</th><th align='left' bgcolor='#eeeeec'>Time</th><th align='left' bgcolor='#eeeeec'>Memory</th><th align='left' bgcolor='#eeeeec'>Function</th><th align='left' bgcolor='#eeeeec'>Location</th></tr>
<tr><td bgcolor='#eeeeec' align='center'>1</td><td bgcolor='#eeeeec' align='center'>0.1030</td><td bgcolor='#eeeeec' align='right'>478800</td><td bgcolor='#eeeeec'>{main}(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>0</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>2</td><td bgcolor='#eeeeec' align='center'>0.1321</td><td bgcolor='#eeeeec' align='right'>501080</td><td bgcolor='#eeeeec'>MVC->main(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>331</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>3</td><td bgcolor='#eeeeec' align='center'>2.1859</td><td bgcolor='#eeeeec' align='right'>1919632</td><td bgcolor='#eeeeec'>TemplateEngine->execTemplate(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>169</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>4</td><td bgcolor='#eeeeec' align='center'>2.1865</td><td bgcolor='#eeeeec' align='right'>1970136</td><td bgcolor='#eeeeec'>require( <font color='#00bb00'>'C:\xampp\htdocs\sam\MVC\sys\template\browseDetailRecords.php'</font> )</td><td title='C:\xampp\htdocs\sam\MVC\sys\classes\lib\TemplateEngine.php' bgcolor='#eeeeec'>..\TemplateEngine.php<b>:</b>57</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>5</td><td bgcolor='#eeeeec' align='center'>2.1928</td><td bgcolor='#eeeeec' align='right'>1972056</td><td bgcolor='#eeeeec'>dbTable->getForeignKey(  )</td><td title='C:\xampp\htdocs\sam\MVC\sys\template\browseDetailRecords.php' bgcolor='#eeeeec'>..\browseDetailRecords.php<b>:</b>13</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>6</td><td bgcolor='#eeeeec' align='center'>2.1928</td><td bgcolor='#eeeeec' align='right'>1972056</td><td bgcolor='#eeeeec'>dbTable->getForeignKeys(  )</td><td title='C:\xampp\htdocs\sam\MVC\sys\classes\lib\dbTable.php' bgcolor='#eeeeec'>..\dbTable.php<b>:</b>583</td></tr>
</table></font>

<?php  echo $record->getStraf();  ?>
	</td>
</tr>
<tr>
	<td>
<label for="klasse_naam">
	<?php  echo $record->getLabel('klasse_naam'); ?>
</label>
	</td>
	<td>
<br />
<font size='1'><table class='xdebug-error xe-notice' dir='ltr' border='1' cellspacing='0' cellpadding='1'>
<tr><th align='left' bgcolor='#f57900' colspan="5"><span style='background-color: #cc0000; color: #fce94f; font-size: x-large;'>( ! )</span> Notice: Undefined index: Create Table in C:\xampp\htdocs\sam\MVC\sys\classes\lib\dbTable.php on line <i>616</i></th></tr>
<tr><th align='left' bgcolor='#e9b96e' colspan='5'>Call Stack</th></tr>
<tr><th align='center' bgcolor='#eeeeec'>#</th><th align='left' bgcolor='#eeeeec'>Time</th><th align='left' bgcolor='#eeeeec'>Memory</th><th align='left' bgcolor='#eeeeec'>Function</th><th align='left' bgcolor='#eeeeec'>Location</th></tr>
<tr><td bgcolor='#eeeeec' align='center'>1</td><td bgcolor='#eeeeec' align='center'>0.1030</td><td bgcolor='#eeeeec' align='right'>478800</td><td bgcolor='#eeeeec'>{main}(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>0</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>2</td><td bgcolor='#eeeeec' align='center'>0.1321</td><td bgcolor='#eeeeec' align='right'>501080</td><td bgcolor='#eeeeec'>MVC->main(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>331</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>3</td><td bgcolor='#eeeeec' align='center'>2.2177</td><td bgcolor='#eeeeec' align='right'>1925952</td><td bgcolor='#eeeeec'>TemplateEngine->execTemplate(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>169</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>4</td><td bgcolor='#eeeeec' align='center'>2.2181</td><td bgcolor='#eeeeec' align='right'>1976456</td><td bgcolor='#eeeeec'>require( <font color='#00bb00'>'C:\xampp\htdocs\sam\MVC\sys\template\browseDetailRecords.php'</font> )</td><td title='C:\xampp\htdocs\sam\MVC\sys\classes\lib\TemplateEngine.php' bgcolor='#eeeeec'>..\TemplateEngine.php<b>:</b>57</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>5</td><td bgcolor='#eeeeec' align='center'>2.2208</td><td bgcolor='#eeeeec' align='right'>1978376</td><td bgcolor='#eeeeec'>dbTable->getForeignKey(  )</td><td title='C:\xampp\htdocs\sam\MVC\sys\template\browseDetailRecords.php' bgcolor='#eeeeec'>..\browseDetailRecords.php<b>:</b>13</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>6</td><td bgcolor='#eeeeec' align='center'>2.2208</td><td bgcolor='#eeeeec' align='right'>1978376</td><td bgcolor='#eeeeec'>dbTable->getForeignKeys(  )</td><td title='C:\xampp\htdocs\sam\MVC\sys\classes\lib\dbTable.php' bgcolor='#eeeeec'>..\dbTable.php<b>:</b>583</td></tr>
</table></font>

<?php  echo $record->getKlasseNaam();  ?>
	</td>
</tr>
<tr>
	<td>
<label for="rondes">
	<?php  echo $record->getLabel('rondes'); ?>
</label>
	</td>
	<td>
<br />
<font size='1'><table class='xdebug-error xe-notice' dir='ltr' border='1' cellspacing='0' cellpadding='1'>
<tr><th align='left' bgcolor='#f57900' colspan="5"><span style='background-color: #cc0000; color: #fce94f; font-size: x-large;'>( ! )</span> Notice: Undefined index: Create Table in C:\xampp\htdocs\sam\MVC\sys\classes\lib\dbTable.php on line <i>616</i></th></tr>
<tr><th align='left' bgcolor='#e9b96e' colspan='5'>Call Stack</th></tr>
<tr><th align='center' bgcolor='#eeeeec'>#</th><th align='left' bgcolor='#eeeeec'>Time</th><th align='left' bgcolor='#eeeeec'>Memory</th><th align='left' bgcolor='#eeeeec'>Function</th><th align='left' bgcolor='#eeeeec'>Location</th></tr>
<tr><td bgcolor='#eeeeec' align='center'>1</td><td bgcolor='#eeeeec' align='center'>0.1030</td><td bgcolor='#eeeeec' align='right'>478800</td><td bgcolor='#eeeeec'>{main}(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>0</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>2</td><td bgcolor='#eeeeec' align='center'>0.1321</td><td bgcolor='#eeeeec' align='right'>501080</td><td bgcolor='#eeeeec'>MVC->main(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>331</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>3</td><td bgcolor='#eeeeec' align='center'>2.2374</td><td bgcolor='#eeeeec' align='right'>1932200</td><td bgcolor='#eeeeec'>TemplateEngine->execTemplate(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>169</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>4</td><td bgcolor='#eeeeec' align='center'>2.2379</td><td bgcolor='#eeeeec' align='right'>1982704</td><td bgcolor='#eeeeec'>require( <font color='#00bb00'>'C:\xampp\htdocs\sam\MVC\sys\template\browseDetailRecords.php'</font> )</td><td title='C:\xampp\htdocs\sam\MVC\sys\classes\lib\TemplateEngine.php' bgcolor='#eeeeec'>..\TemplateEngine.php<b>:</b>57</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>5</td><td bgcolor='#eeeeec' align='center'>2.2398</td><td bgcolor='#eeeeec' align='right'>1984624</td><td bgcolor='#eeeeec'>dbTable->getForeignKey(  )</td><td title='C:\xampp\htdocs\sam\MVC\sys\template\browseDetailRecords.php' bgcolor='#eeeeec'>..\browseDetailRecords.php<b>:</b>13</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>6</td><td bgcolor='#eeeeec' align='center'>2.2398</td><td bgcolor='#eeeeec' align='right'>1984624</td><td bgcolor='#eeeeec'>dbTable->getForeignKeys(  )</td><td title='C:\xampp\htdocs\sam\MVC\sys\classes\lib\dbTable.php' bgcolor='#eeeeec'>..\dbTable.php<b>:</b>583</td></tr>
</table></font>

<?php  echo $record->getRondes();  ?>
	</td>
</tr>
<tr>
	<td>
<label for="racedag_naam">
	<?php  echo $record->getLabel('racedag_naam'); ?>
</label>
	</td>
	<td>
<br />
<font size='1'><table class='xdebug-error xe-notice' dir='ltr' border='1' cellspacing='0' cellpadding='1'>
<tr><th align='left' bgcolor='#f57900' colspan="5"><span style='background-color: #cc0000; color: #fce94f; font-size: x-large;'>( ! )</span> Notice: Undefined index: Create Table in C:\xampp\htdocs\sam\MVC\sys\classes\lib\dbTable.php on line <i>616</i></th></tr>
<tr><th align='left' bgcolor='#e9b96e' colspan='5'>Call Stack</th></tr>
<tr><th align='center' bgcolor='#eeeeec'>#</th><th align='left' bgcolor='#eeeeec'>Time</th><th align='left' bgcolor='#eeeeec'>Memory</th><th align='left' bgcolor='#eeeeec'>Function</th><th align='left' bgcolor='#eeeeec'>Location</th></tr>
<tr><td bgcolor='#eeeeec' align='center'>1</td><td bgcolor='#eeeeec' align='center'>0.1030</td><td bgcolor='#eeeeec' align='right'>478800</td><td bgcolor='#eeeeec'>{main}(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>0</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>2</td><td bgcolor='#eeeeec' align='center'>0.1321</td><td bgcolor='#eeeeec' align='right'>501080</td><td bgcolor='#eeeeec'>MVC->main(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>331</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>3</td><td bgcolor='#eeeeec' align='center'>2.2565</td><td bgcolor='#eeeeec' align='right'>1938536</td><td bgcolor='#eeeeec'>TemplateEngine->execTemplate(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>169</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>4</td><td bgcolor='#eeeeec' align='center'>2.2570</td><td bgcolor='#eeeeec' align='right'>1989040</td><td bgcolor='#eeeeec'>require( <font color='#00bb00'>'C:\xampp\htdocs\sam\MVC\sys\template\browseDetailRecords.php'</font> )</td><td title='C:\xampp\htdocs\sam\MVC\sys\classes\lib\TemplateEngine.php' bgcolor='#eeeeec'>..\TemplateEngine.php<b>:</b>57</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>5</td><td bgcolor='#eeeeec' align='center'>2.2590</td><td bgcolor='#eeeeec' align='right'>1990960</td><td bgcolor='#eeeeec'>dbTable->getForeignKey(  )</td><td title='C:\xampp\htdocs\sam\MVC\sys\template\browseDetailRecords.php' bgcolor='#eeeeec'>..\browseDetailRecords.php<b>:</b>13</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>6</td><td bgcolor='#eeeeec' align='center'>2.2590</td><td bgcolor='#eeeeec' align='right'>1990960</td><td bgcolor='#eeeeec'>dbTable->getForeignKeys(  )</td><td title='C:\xampp\htdocs\sam\MVC\sys\classes\lib\dbTable.php' bgcolor='#eeeeec'>..\dbTable.php<b>:</b>583</td></tr>
</table></font>

<?php  echo $record->getRacedagNaam();  ?>
	</td>
</tr>
<tr>
	<td>
<label for="racedag_datum">
	<?php  echo $record->getLabel('racedag_datum'); ?>
</label>
	</td>
	<td>
<br />
<font size='1'><table class='xdebug-error xe-notice' dir='ltr' border='1' cellspacing='0' cellpadding='1'>
<tr><th align='left' bgcolor='#f57900' colspan="5"><span style='background-color: #cc0000; color: #fce94f; font-size: x-large;'>( ! )</span> Notice: Undefined index: Create Table in C:\xampp\htdocs\sam\MVC\sys\classes\lib\dbTable.php on line <i>616</i></th></tr>
<tr><th align='left' bgcolor='#e9b96e' colspan='5'>Call Stack</th></tr>
<tr><th align='center' bgcolor='#eeeeec'>#</th><th align='left' bgcolor='#eeeeec'>Time</th><th align='left' bgcolor='#eeeeec'>Memory</th><th align='left' bgcolor='#eeeeec'>Function</th><th align='left' bgcolor='#eeeeec'>Location</th></tr>
<tr><td bgcolor='#eeeeec' align='center'>1</td><td bgcolor='#eeeeec' align='center'>0.1030</td><td bgcolor='#eeeeec' align='right'>478800</td><td bgcolor='#eeeeec'>{main}(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>0</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>2</td><td bgcolor='#eeeeec' align='center'>0.1321</td><td bgcolor='#eeeeec' align='right'>501080</td><td bgcolor='#eeeeec'>MVC->main(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>331</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>3</td><td bgcolor='#eeeeec' align='center'>2.2771</td><td bgcolor='#eeeeec' align='right'>1944888</td><td bgcolor='#eeeeec'>TemplateEngine->execTemplate(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>169</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>4</td><td bgcolor='#eeeeec' align='center'>2.2775</td><td bgcolor='#eeeeec' align='right'>1995392</td><td bgcolor='#eeeeec'>require( <font color='#00bb00'>'C:\xampp\htdocs\sam\MVC\sys\template\browseDetailRecords.php'</font> )</td><td title='C:\xampp\htdocs\sam\MVC\sys\classes\lib\TemplateEngine.php' bgcolor='#eeeeec'>..\TemplateEngine.php<b>:</b>57</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>5</td><td bgcolor='#eeeeec' align='center'>2.2792</td><td bgcolor='#eeeeec' align='right'>1997312</td><td bgcolor='#eeeeec'>dbTable->getForeignKey(  )</td><td title='C:\xampp\htdocs\sam\MVC\sys\template\browseDetailRecords.php' bgcolor='#eeeeec'>..\browseDetailRecords.php<b>:</b>13</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>6</td><td bgcolor='#eeeeec' align='center'>2.2792</td><td bgcolor='#eeeeec' align='right'>1997312</td><td bgcolor='#eeeeec'>dbTable->getForeignKeys(  )</td><td title='C:\xampp\htdocs\sam\MVC\sys\classes\lib\dbTable.php' bgcolor='#eeeeec'>..\dbTable.php<b>:</b>583</td></tr>
</table></font>

<?php  echo $record->getRacedagDatum();  ?>
	</td>
</tr>
	</table>
</fieldset>