		<table class="table_1">
			<tr>
				<th></th>
			</tr>
<?php
	$bgColorIndex = 0;
	foreach ( $VwKlasseTotalen as $record )
	{
?>
		<tr class="<?php  
			 echo ($bgColorIndex % 2?'clsEvenRow':'clsOddRow'); 
			 ?>" >
			 <td>
<a href="/browse/VwKlasseTotalen/<?php echo $record->getUid()?>">
<?php  
	echo $record->getRacedag($record->getRacedagId()); 
?>
</a>
</td>

<td>
<a href="/browse/VwKlasseTotalen/<?php echo $record->getUid()?>">
<?php  
	echo $record->getKlasse($record->getKlasseId()); 
?>
</a>
</td>

<td>
<a href="/browse/VwKlasseTotalen/<?php echo $record->getUid()?>">
<?php  
	echo $record->getSessies($record->getSessiesId()); 
?>
</a>
</td>

<td>
<a href="/browse/VwKlasseTotalen/<?php echo $record->getUid()?>">
<?php  
	echo $record->getRacedagNaam($record->getRacedagNaam()); 
?>
</a>
</td>

<td>
<a href="/browse/VwKlasseTotalen/<?php echo $record->getUid()?>">
<?php  
	echo $record->getRacedagDatum($record->getRacedagDatum()); 
?>
</a>
</td>

<td>
<a href="/browse/VwKlasseTotalen/<?php echo $record->getUid()?>">
<?php  
	echo $record->getKlasseNaam($record->getKlasseNaam()); 
?>
</a>
</td>

<td>
<a href="/browse/VwKlasseTotalen/<?php echo $record->getUid()?>">
<?php  
	echo $record->getSessieNaam($record->getSessieNaam()); 
?>
</a>
</td>

<td>
<a href="/browse/VwKlasseTotalen/<?php echo $record->getUid()?>">
<?php  
	echo $record->getResultaatRondes($record->getResultaatRondes()); 
?>
</a>
</td>

<td>
<a href="/browse/VwKlasseTotalen/<?php echo $record->getUid()?>">
<?php  
	echo $record->getMsecGemiddeld($record->getMsecGemiddeld()); 
?>
</a>
</td>

<td>
<a href="/browse/VwKlasseTotalen/<?php echo $record->getUid()?>">
<?php  
	echo $record->getMsecStraf($record->getMsecStraf()); 
?>
</a>
</td>

<td>
<a href="/browse/VwKlasseTotalen/<?php echo $record->getUid()?>">
<?php  
	echo $record->getResultaatNaam($record->getResultaatNaam()); 
?>
</a>
</td>

<td>
<a href="/browse/VwKlasseTotalen/<?php echo $record->getUid()?>">
<?php  
	echo $record->getSessieNaam($record->getSessieNaamId()); 
?>
</a>
</td>

		</tr>
<?php
		$bgColorIndex++;
	}
?>
		</table>
