<fieldset>
	<table>
<tr>
	<td>
<label for="uid">
	<?php  echo $record->getLabel('uid'); ?>
</label>
	</td>
	<td>

<?php  echo $record->getUid();  ?>
	</td>
</tr>
<tr>
	<td>
<label for="naam">
	<?php  echo $record->getLabel('naam'); ?>
</label>
	</td>
	<td>

<?php  echo $record->getNaam();  ?>
	</td>
</tr>
	</table>
</fieldset>