<fieldset>
	<table>
<tr>
	<td>
<label for="uid">
	<?php  echo $record->getLabel('uid'); ?>
</label>
	</td>
	<td>

<?php  echo $record->getUid();  ?>
	</td>
</tr>
<tr>
	<td>
<label for="racedag_id">
	<?php  echo $record->getLabel('racedag_id'); ?>
</label>
	</td>
	<td>

<?php  echo $record->getRacedagId();  ?>
	</td>
</tr>
<tr>
	<td>
<label for="klasse_id">
	<?php  echo $record->getLabel('klasse_id'); ?>
</label>
	</td>
	<td>

<?php  echo $record->getKlasseId();  ?>
	</td>
</tr>
	</table>
</fieldset>