<fieldset>
	<table>
<tr>
	<td>
<label for="uid">
	<?php  echo $record->getLabel('uid'); ?>
</label>
	</td>
	<td>

<?php  echo $record->getUid();  ?>
	</td>
</tr>
<tr>
	<td>
<label for="racedag_klasse_id">
	<?php  echo $record->getLabel('racedag_klasse_id'); ?>
</label>
	</td>
	<td>
<?php  echo $record->getRacedagKlasse($record->getRacedagKlasseId()); ?>
	</td>
</tr>
<tr>
	<td>
<label for="sessie_naam_id">
	<?php  echo $record->getLabel('sessie_naam_id'); ?>
</label>
	</td>
	<td>
<?php  echo $record->getSessieNaam($record->getSessieNaamId()); ?>
	</td>
</tr>
	</table>
</fieldset>