		<table class="table_1">
			<tr>
				<th></th>
			</tr>
<?php
	$bgColorIndex = 0;
	foreach ( $Auth as $record )
	{
?>
		<tr class="<?php  
			 echo ($bgColorIndex % 2?'clsEvenRow':'clsOddRow'); 
			 ?>" >
			 <td>
<a href="/browse/Auth/<?php echo $record->getUid()?>">
<?php  
	echo $record->getUid($record->getUid()); 
?>
</a>
</td>

<td>
<a href="/browse/Auth/<?php echo $record->getUid()?>">
<?php  
	echo $record->getLevel($record->getLevel()); 
?>
</a>
</td>

<td>
<a href="/browse/Auth/<?php echo $record->getUid()?>">
<?php  
	echo $record->getNaam($record->getNaam()); 
?>
</a>
</td>

		</tr>
<?php
		$bgColorIndex++;
	}
?>
		</table>
