<fieldset>
	<table>
<tr>
	<td>
<label for="uid">
	<?php  echo $record->getLabel('uid'); ?>
</label>
	</td>
	<td>

<?php  echo $record->getUid();  ?>
	</td>
</tr>
<tr>
	<td>
<label for="klasse_id">
	<?php  echo $record->getLabel('klasse_id'); ?>
</label>
	</td>
	<td>
<?php  echo $record->getKlasse($record->getKlasseId()); ?>
	</td>
</tr>
<tr>
	<td>
<label for="sessie_naam_id">
	<?php  echo $record->getLabel('sessie_naam_id'); ?>
</label>
	</td>
	<td>
<?php  echo $record->getSessieNaam($record->getSessieNaamId()); ?>
	</td>
</tr>
<tr>
	<td>
<label for="status">
	<?php  echo $record->getLabel('status'); ?>
</label>
	</td>
	<td>

<?php  echo $record->getStatus();  ?>
	</td>
</tr>
<tr>
	<td>
<label for="name">
	<?php  echo $record->getLabel('name'); ?>
</label>
	</td>
	<td>

<?php  echo $record->getName();  ?>
	</td>
</tr>
	</table>
</fieldset>