		<table class="table_1">
			<tr>
				<th></th>
			</tr>
<?php
	$bgColorIndex = 0;
	foreach ( $VwUitslag as $record )
	{
?>
		<tr class="<?php  
			 echo ($bgColorIndex % 2?'clsEvenRow':'clsOddRow'); 
			 ?>" >
			 <td>
<a href="/browse/VwUitslag/<?php echo $record->getUid()?>">
<?php  
	echo $record->getRacedagKlasse($record->getRacedagKlasseId()); 
?>
</a>
</td>

<td>
<a href="/browse/VwUitslag/<?php echo $record->getUid()?>">
<?php  
	echo $record->getResultaatNaam($record->getResultaatNaam()); 
?>
</a>
</td>

<td>
<a href="/browse/VwUitslag/<?php echo $record->getUid()?>">
<?php  
	echo $record->getStraf($record->getStraf()); 
?>
</a>
</td>

<td>
<a href="/browse/VwUitslag/<?php echo $record->getUid()?>">
<?php  
	echo $record->getKlasseNaam($record->getKlasseNaam()); 
?>
</a>
</td>

<td>
<a href="/browse/VwUitslag/<?php echo $record->getUid()?>">
<?php  
	echo $record->getRondes($record->getRondes()); 
?>
</a>
</td>

<td>
<a href="/browse/VwUitslag/<?php echo $record->getUid()?>">
<?php  
	echo $record->getRacedagNaam($record->getRacedagNaam()); 
?>
</a>
</td>

<td>
<a href="/browse/VwUitslag/<?php echo $record->getUid()?>">
<?php  
	echo $record->getRacedagDatum($record->getRacedagDatum()); 
?>
</a>
</td>

		</tr>
<?php
		$bgColorIndex++;
	}
?>
		</table>
