<fieldset>
	<table>
<tr>
	<td>
<label for="resultaat_naam">
	<?php  echo $record->getLabel('resultaat_naam'); ?>
</label>
	</td>
	<td>
<br />
<font size='1'><table class='xdebug-error xe-notice' dir='ltr' border='1' cellspacing='0' cellpadding='1'>
<tr><th align='left' bgcolor='#f57900' colspan="5"><span style='background-color: #cc0000; color: #fce94f; font-size: x-large;'>( ! )</span> Notice: Undefined index: Create Table in C:\xampp\htdocs\sam\MVC\sys\classes\lib\dbTable.php on line <i>616</i></th></tr>
<tr><th align='left' bgcolor='#e9b96e' colspan='5'>Call Stack</th></tr>
<tr><th align='center' bgcolor='#eeeeec'>#</th><th align='left' bgcolor='#eeeeec'>Time</th><th align='left' bgcolor='#eeeeec'>Memory</th><th align='left' bgcolor='#eeeeec'>Function</th><th align='left' bgcolor='#eeeeec'>Location</th></tr>
<tr><td bgcolor='#eeeeec' align='center'>1</td><td bgcolor='#eeeeec' align='center'>0.1030</td><td bgcolor='#eeeeec' align='right'>478800</td><td bgcolor='#eeeeec'>{main}(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>0</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>2</td><td bgcolor='#eeeeec' align='center'>0.1321</td><td bgcolor='#eeeeec' align='right'>501080</td><td bgcolor='#eeeeec'>MVC->main(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>331</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>3</td><td bgcolor='#eeeeec' align='center'>1.8857</td><td bgcolor='#eeeeec' align='right'>1842984</td><td bgcolor='#eeeeec'>TemplateEngine->execTemplate(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>169</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>4</td><td bgcolor='#eeeeec' align='center'>1.8862</td><td bgcolor='#eeeeec' align='right'>1893488</td><td bgcolor='#eeeeec'>require( <font color='#00bb00'>'C:\xampp\htdocs\sam\MVC\sys\template\browseDetailRecords.php'</font> )</td><td title='C:\xampp\htdocs\sam\MVC\sys\classes\lib\TemplateEngine.php' bgcolor='#eeeeec'>..\TemplateEngine.php<b>:</b>57</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>5</td><td bgcolor='#eeeeec' align='center'>1.8880</td><td bgcolor='#eeeeec' align='right'>1895360</td><td bgcolor='#eeeeec'>dbTable->getForeignKey(  )</td><td title='C:\xampp\htdocs\sam\MVC\sys\template\browseDetailRecords.php' bgcolor='#eeeeec'>..\browseDetailRecords.php<b>:</b>13</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>6</td><td bgcolor='#eeeeec' align='center'>1.8880</td><td bgcolor='#eeeeec' align='right'>1895360</td><td bgcolor='#eeeeec'>dbTable->getForeignKeys(  )</td><td title='C:\xampp\htdocs\sam\MVC\sys\classes\lib\dbTable.php' bgcolor='#eeeeec'>..\dbTable.php<b>:</b>583</td></tr>
</table></font>

<?php  echo $record->getResultaatNaam();  ?>
	</td>
</tr>
<tr>
	<td>
<label for="sessies_id">
	<?php  echo $record->getLabel('sessies_id'); ?>
</label>
	</td>
	<td>
<br />
<font size='1'><table class='xdebug-error xe-notice' dir='ltr' border='1' cellspacing='0' cellpadding='1'>
<tr><th align='left' bgcolor='#f57900' colspan="5"><span style='background-color: #cc0000; color: #fce94f; font-size: x-large;'>( ! )</span> Notice: Undefined index: Create Table in C:\xampp\htdocs\sam\MVC\sys\classes\lib\dbTable.php on line <i>616</i></th></tr>
<tr><th align='left' bgcolor='#e9b96e' colspan='5'>Call Stack</th></tr>
<tr><th align='center' bgcolor='#eeeeec'>#</th><th align='left' bgcolor='#eeeeec'>Time</th><th align='left' bgcolor='#eeeeec'>Memory</th><th align='left' bgcolor='#eeeeec'>Function</th><th align='left' bgcolor='#eeeeec'>Location</th></tr>
<tr><td bgcolor='#eeeeec' align='center'>1</td><td bgcolor='#eeeeec' align='center'>0.1030</td><td bgcolor='#eeeeec' align='right'>478800</td><td bgcolor='#eeeeec'>{main}(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>0</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>2</td><td bgcolor='#eeeeec' align='center'>0.1321</td><td bgcolor='#eeeeec' align='right'>501080</td><td bgcolor='#eeeeec'>MVC->main(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>331</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>3</td><td bgcolor='#eeeeec' align='center'>1.9091</td><td bgcolor='#eeeeec' align='right'>1849320</td><td bgcolor='#eeeeec'>TemplateEngine->execTemplate(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>169</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>4</td><td bgcolor='#eeeeec' align='center'>1.9096</td><td bgcolor='#eeeeec' align='right'>1899824</td><td bgcolor='#eeeeec'>require( <font color='#00bb00'>'C:\xampp\htdocs\sam\MVC\sys\template\browseDetailRecords.php'</font> )</td><td title='C:\xampp\htdocs\sam\MVC\sys\classes\lib\TemplateEngine.php' bgcolor='#eeeeec'>..\TemplateEngine.php<b>:</b>57</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>5</td><td bgcolor='#eeeeec' align='center'>1.9116</td><td bgcolor='#eeeeec' align='right'>1901696</td><td bgcolor='#eeeeec'>dbTable->getForeignKey(  )</td><td title='C:\xampp\htdocs\sam\MVC\sys\template\browseDetailRecords.php' bgcolor='#eeeeec'>..\browseDetailRecords.php<b>:</b>13</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>6</td><td bgcolor='#eeeeec' align='center'>1.9116</td><td bgcolor='#eeeeec' align='right'>1901696</td><td bgcolor='#eeeeec'>dbTable->getForeignKeys(  )</td><td title='C:\xampp\htdocs\sam\MVC\sys\classes\lib\dbTable.php' bgcolor='#eeeeec'>..\dbTable.php<b>:</b>583</td></tr>
</table></font>

<?php  echo $record->getSessiesId();  ?>
	</td>
</tr>
<tr>
	<td>
<label for="sessie_naam">
	<?php  echo $record->getLabel('sessie_naam'); ?>
</label>
	</td>
	<td>
<br />
<font size='1'><table class='xdebug-error xe-notice' dir='ltr' border='1' cellspacing='0' cellpadding='1'>
<tr><th align='left' bgcolor='#f57900' colspan="5"><span style='background-color: #cc0000; color: #fce94f; font-size: x-large;'>( ! )</span> Notice: Undefined index: Create Table in C:\xampp\htdocs\sam\MVC\sys\classes\lib\dbTable.php on line <i>616</i></th></tr>
<tr><th align='left' bgcolor='#e9b96e' colspan='5'>Call Stack</th></tr>
<tr><th align='center' bgcolor='#eeeeec'>#</th><th align='left' bgcolor='#eeeeec'>Time</th><th align='left' bgcolor='#eeeeec'>Memory</th><th align='left' bgcolor='#eeeeec'>Function</th><th align='left' bgcolor='#eeeeec'>Location</th></tr>
<tr><td bgcolor='#eeeeec' align='center'>1</td><td bgcolor='#eeeeec' align='center'>0.1030</td><td bgcolor='#eeeeec' align='right'>478800</td><td bgcolor='#eeeeec'>{main}(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>0</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>2</td><td bgcolor='#eeeeec' align='center'>0.1321</td><td bgcolor='#eeeeec' align='right'>501080</td><td bgcolor='#eeeeec'>MVC->main(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>331</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>3</td><td bgcolor='#eeeeec' align='center'>1.9323</td><td bgcolor='#eeeeec' align='right'>1855648</td><td bgcolor='#eeeeec'>TemplateEngine->execTemplate(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>169</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>4</td><td bgcolor='#eeeeec' align='center'>1.9328</td><td bgcolor='#eeeeec' align='right'>1906152</td><td bgcolor='#eeeeec'>require( <font color='#00bb00'>'C:\xampp\htdocs\sam\MVC\sys\template\browseDetailRecords.php'</font> )</td><td title='C:\xampp\htdocs\sam\MVC\sys\classes\lib\TemplateEngine.php' bgcolor='#eeeeec'>..\TemplateEngine.php<b>:</b>57</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>5</td><td bgcolor='#eeeeec' align='center'>1.9348</td><td bgcolor='#eeeeec' align='right'>1908024</td><td bgcolor='#eeeeec'>dbTable->getForeignKey(  )</td><td title='C:\xampp\htdocs\sam\MVC\sys\template\browseDetailRecords.php' bgcolor='#eeeeec'>..\browseDetailRecords.php<b>:</b>13</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>6</td><td bgcolor='#eeeeec' align='center'>1.9348</td><td bgcolor='#eeeeec' align='right'>1908024</td><td bgcolor='#eeeeec'>dbTable->getForeignKeys(  )</td><td title='C:\xampp\htdocs\sam\MVC\sys\classes\lib\dbTable.php' bgcolor='#eeeeec'>..\dbTable.php<b>:</b>583</td></tr>
</table></font>

<?php  echo $record->getSessieNaam();  ?>
	</td>
</tr>
<tr>
	<td>
<label for="rondes">
	<?php  echo $record->getLabel('rondes'); ?>
</label>
	</td>
	<td>
<br />
<font size='1'><table class='xdebug-error xe-notice' dir='ltr' border='1' cellspacing='0' cellpadding='1'>
<tr><th align='left' bgcolor='#f57900' colspan="5"><span style='background-color: #cc0000; color: #fce94f; font-size: x-large;'>( ! )</span> Notice: Undefined index: Create Table in C:\xampp\htdocs\sam\MVC\sys\classes\lib\dbTable.php on line <i>616</i></th></tr>
<tr><th align='left' bgcolor='#e9b96e' colspan='5'>Call Stack</th></tr>
<tr><th align='center' bgcolor='#eeeeec'>#</th><th align='left' bgcolor='#eeeeec'>Time</th><th align='left' bgcolor='#eeeeec'>Memory</th><th align='left' bgcolor='#eeeeec'>Function</th><th align='left' bgcolor='#eeeeec'>Location</th></tr>
<tr><td bgcolor='#eeeeec' align='center'>1</td><td bgcolor='#eeeeec' align='center'>0.1030</td><td bgcolor='#eeeeec' align='right'>478800</td><td bgcolor='#eeeeec'>{main}(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>0</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>2</td><td bgcolor='#eeeeec' align='center'>0.1321</td><td bgcolor='#eeeeec' align='right'>501080</td><td bgcolor='#eeeeec'>MVC->main(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>331</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>3</td><td bgcolor='#eeeeec' align='center'>1.9517</td><td bgcolor='#eeeeec' align='right'>1861928</td><td bgcolor='#eeeeec'>TemplateEngine->execTemplate(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>169</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>4</td><td bgcolor='#eeeeec' align='center'>1.9521</td><td bgcolor='#eeeeec' align='right'>1912432</td><td bgcolor='#eeeeec'>require( <font color='#00bb00'>'C:\xampp\htdocs\sam\MVC\sys\template\browseDetailRecords.php'</font> )</td><td title='C:\xampp\htdocs\sam\MVC\sys\classes\lib\TemplateEngine.php' bgcolor='#eeeeec'>..\TemplateEngine.php<b>:</b>57</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>5</td><td bgcolor='#eeeeec' align='center'>1.9541</td><td bgcolor='#eeeeec' align='right'>1914304</td><td bgcolor='#eeeeec'>dbTable->getForeignKey(  )</td><td title='C:\xampp\htdocs\sam\MVC\sys\template\browseDetailRecords.php' bgcolor='#eeeeec'>..\browseDetailRecords.php<b>:</b>13</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>6</td><td bgcolor='#eeeeec' align='center'>1.9541</td><td bgcolor='#eeeeec' align='right'>1914304</td><td bgcolor='#eeeeec'>dbTable->getForeignKeys(  )</td><td title='C:\xampp\htdocs\sam\MVC\sys\classes\lib\dbTable.php' bgcolor='#eeeeec'>..\dbTable.php<b>:</b>583</td></tr>
</table></font>

<?php  echo $record->getRondes();  ?>
	</td>
</tr>
<tr>
	<td>
<label for="max_rondes">
	<?php  echo $record->getLabel('max_rondes'); ?>
</label>
	</td>
	<td>
<br />
<font size='1'><table class='xdebug-error xe-notice' dir='ltr' border='1' cellspacing='0' cellpadding='1'>
<tr><th align='left' bgcolor='#f57900' colspan="5"><span style='background-color: #cc0000; color: #fce94f; font-size: x-large;'>( ! )</span> Notice: Undefined index: Create Table in C:\xampp\htdocs\sam\MVC\sys\classes\lib\dbTable.php on line <i>616</i></th></tr>
<tr><th align='left' bgcolor='#e9b96e' colspan='5'>Call Stack</th></tr>
<tr><th align='center' bgcolor='#eeeeec'>#</th><th align='left' bgcolor='#eeeeec'>Time</th><th align='left' bgcolor='#eeeeec'>Memory</th><th align='left' bgcolor='#eeeeec'>Function</th><th align='left' bgcolor='#eeeeec'>Location</th></tr>
<tr><td bgcolor='#eeeeec' align='center'>1</td><td bgcolor='#eeeeec' align='center'>0.1030</td><td bgcolor='#eeeeec' align='right'>478800</td><td bgcolor='#eeeeec'>{main}(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>0</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>2</td><td bgcolor='#eeeeec' align='center'>0.1321</td><td bgcolor='#eeeeec' align='right'>501080</td><td bgcolor='#eeeeec'>MVC->main(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>331</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>3</td><td bgcolor='#eeeeec' align='center'>1.9753</td><td bgcolor='#eeeeec' align='right'>1868256</td><td bgcolor='#eeeeec'>TemplateEngine->execTemplate(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>169</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>4</td><td bgcolor='#eeeeec' align='center'>1.9758</td><td bgcolor='#eeeeec' align='right'>1918760</td><td bgcolor='#eeeeec'>require( <font color='#00bb00'>'C:\xampp\htdocs\sam\MVC\sys\template\browseDetailRecords.php'</font> )</td><td title='C:\xampp\htdocs\sam\MVC\sys\classes\lib\TemplateEngine.php' bgcolor='#eeeeec'>..\TemplateEngine.php<b>:</b>57</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>5</td><td bgcolor='#eeeeec' align='center'>1.9776</td><td bgcolor='#eeeeec' align='right'>1920632</td><td bgcolor='#eeeeec'>dbTable->getForeignKey(  )</td><td title='C:\xampp\htdocs\sam\MVC\sys\template\browseDetailRecords.php' bgcolor='#eeeeec'>..\browseDetailRecords.php<b>:</b>13</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>6</td><td bgcolor='#eeeeec' align='center'>1.9776</td><td bgcolor='#eeeeec' align='right'>1920632</td><td bgcolor='#eeeeec'>dbTable->getForeignKeys(  )</td><td title='C:\xampp\htdocs\sam\MVC\sys\classes\lib\dbTable.php' bgcolor='#eeeeec'>..\dbTable.php<b>:</b>583</td></tr>
</table></font>

<?php  echo $record->getMaxRondes();  ?>
	</td>
</tr>
<tr>
	<td>
<label for="rondes_perc">
	<?php  echo $record->getLabel('rondes_perc'); ?>
</label>
	</td>
	<td>
<br />
<font size='1'><table class='xdebug-error xe-notice' dir='ltr' border='1' cellspacing='0' cellpadding='1'>
<tr><th align='left' bgcolor='#f57900' colspan="5"><span style='background-color: #cc0000; color: #fce94f; font-size: x-large;'>( ! )</span> Notice: Undefined index: Create Table in C:\xampp\htdocs\sam\MVC\sys\classes\lib\dbTable.php on line <i>616</i></th></tr>
<tr><th align='left' bgcolor='#e9b96e' colspan='5'>Call Stack</th></tr>
<tr><th align='center' bgcolor='#eeeeec'>#</th><th align='left' bgcolor='#eeeeec'>Time</th><th align='left' bgcolor='#eeeeec'>Memory</th><th align='left' bgcolor='#eeeeec'>Function</th><th align='left' bgcolor='#eeeeec'>Location</th></tr>
<tr><td bgcolor='#eeeeec' align='center'>1</td><td bgcolor='#eeeeec' align='center'>0.1030</td><td bgcolor='#eeeeec' align='right'>478800</td><td bgcolor='#eeeeec'>{main}(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>0</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>2</td><td bgcolor='#eeeeec' align='center'>0.1321</td><td bgcolor='#eeeeec' align='right'>501080</td><td bgcolor='#eeeeec'>MVC->main(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>331</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>3</td><td bgcolor='#eeeeec' align='center'>1.9940</td><td bgcolor='#eeeeec' align='right'>1874584</td><td bgcolor='#eeeeec'>TemplateEngine->execTemplate(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>169</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>4</td><td bgcolor='#eeeeec' align='center'>1.9949</td><td bgcolor='#eeeeec' align='right'>1925088</td><td bgcolor='#eeeeec'>require( <font color='#00bb00'>'C:\xampp\htdocs\sam\MVC\sys\template\browseDetailRecords.php'</font> )</td><td title='C:\xampp\htdocs\sam\MVC\sys\classes\lib\TemplateEngine.php' bgcolor='#eeeeec'>..\TemplateEngine.php<b>:</b>57</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>5</td><td bgcolor='#eeeeec' align='center'>2.0008</td><td bgcolor='#eeeeec' align='right'>1926960</td><td bgcolor='#eeeeec'>dbTable->getForeignKey(  )</td><td title='C:\xampp\htdocs\sam\MVC\sys\template\browseDetailRecords.php' bgcolor='#eeeeec'>..\browseDetailRecords.php<b>:</b>13</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>6</td><td bgcolor='#eeeeec' align='center'>2.0008</td><td bgcolor='#eeeeec' align='right'>1926960</td><td bgcolor='#eeeeec'>dbTable->getForeignKeys(  )</td><td title='C:\xampp\htdocs\sam\MVC\sys\classes\lib\dbTable.php' bgcolor='#eeeeec'>..\dbTable.php<b>:</b>583</td></tr>
</table></font>

<?php  echo $record->getRondesPerc();  ?>
	</td>
</tr>
	</table>
</fieldset>