		<a href="/add/Import">Nieuwe Import</a><br/>
		<table class="table_1">
			<th></th>
<?php
	$bgColorIndex = 0;
	foreach ( $Import as $record )
	{
?>
		<tr class="<?php  
			 echo ($bgColorIndex % 2?'clsEvenRow':'clsOddRow'); 
			 ?>" >
<td>
<a href="/edit/Import/<?php echo $record->getUid()?>">
<?php  
	echo $record->getUid($record->getUid()); 
?>
</a>
</td>

<td>
<a href="/edit/Import/<?php echo $record->getUid()?>">
<?php  
	echo $record->getNaam($record->getNaam()); 
?>
</a>
</td>

<td>
<a href="/edit/Import/<?php echo $record->getUid()?>">
<?php  
	echo $record->getTijd($record->getTijd()); 
?>
</a>
</td>

		</tr>
<?php
		$bgColorIndex++;
	}
?>
		</table>
