		<a href="/add/ImportFile">Nieuwe ImportFile</a><br/>
		<table class="table_1">
			<th></th>
<?php
	$bgColorIndex = 0;
	foreach ( $ImportFile as $record )
	{
?>
		<tr class="<?php  
			 echo ($bgColorIndex % 2?'clsEvenRow':'clsOddRow'); 
			 ?>" >
<td>
<a href="/edit/ImportFile/<?php echo $record->getUid()?>">
<?php  
	echo $record->getUid($record->getUid()); 
?>
</a>
</td>

<td>
<a href="/edit/ImportFile/<?php echo $record->getUid()?>">
<?php  
	echo $record->getKlasse($record->getKlasseId()); 
?>
</a>
</td>

<td>
<a href="/edit/ImportFile/<?php echo $record->getUid()?>">
<?php  
	echo $record->getSessieNaam($record->getSessieNaamId()); 
?>
</a>
</td>

<td>
<a href="/edit/ImportFile/<?php echo $record->getUid()?>">
<?php  
	echo $record->getStatus($record->getStatus()); 
?>
</a>
</td>

<td>
<a href="/edit/ImportFile/<?php echo $record->getUid()?>">
<?php  
	echo $record->getName($record->getName()); 
?>
</a>
</td>

		</tr>
<?php
		$bgColorIndex++;
	}
?>
		</table>
