		<form 
			id="frmImportFile" 
			name="ImportFile" 
			method="POST" 
			action="/update/importfile"
			class="niceform">
			<input type="hidden" id="act" name="act" value="" />
<!-- 			<input type="hidden" name="uid" value="<?php  echo $record->getUid(); ?>"  /> -->
			<fieldset>
				<legend>ImportFile</legend>
				<table>
<?php 
	if(isset($messages)) {
		echo '<div class="clsError">';
		foreach ( $messages as $message )
		{	echo $message . '<br/>';
		}
		echo '</div>';
	}
?>				

<tr>
	<td valign="top">
<label for="uid">
	<?php  echo $record->getLabel('uid'); ?>
</label>

	</td>
	<td>

<input type="<?php  echo $record->getHtmlType('uid');  ?>" 
	name="uid" 
	id="uid"
	value="<?php  echo $record->getUid();  ?>" 
	<?php  
			echo $record->getHtmlSpecialAttributes('uid');
	  ?>
	/>



	</td>
</tr>
<tr>
	<td valign="top">
<label for="klasse_id">
	<?php  echo $record->getLabel('klasse_id'); ?>
</label>

	</td>
	<td>
<?php 		$this->selectBox("klasse_id","Klasse",$record->getKlasseId());	?>
<br/>		
	</td>
</tr>
<tr>
	<td valign="top">
<label for="sessie_naam_id">
	<?php  echo $record->getLabel('sessie_naam_id'); ?>
</label>

	</td>
	<td>
<?php 		$this->selectBox("sessie_naam_id","SessieNaam",$record->getSessieNaamId());	?>
<br/>		
	</td>
</tr>
<tr>
	<td valign="top">
<label for="status">
	<?php  echo $record->getLabel('status'); ?>
</label>

	</td>
	<td>

<input type="<?php  echo $record->getHtmlType('status');  ?>" 
	name="status" 
	id="status"
	value="<?php  echo $record->getStatus();  ?>" 
	<?php  
			echo $record->getHtmlSpecialAttributes('status');
	  ?>
	/>



	</td>
</tr>
<tr>
	<td valign="top">
<label for="name">
	<?php  echo $record->getLabel('name'); ?>
</label>

	</td>
	<td>

<input type="<?php  echo $record->getHtmlType('name');  ?>" 
	name="name" 
	id="name"
	value="<?php  echo $record->getName();  ?>" 
	<?php  
			echo $record->getHtmlSpecialAttributes('name');
	  ?>
	/>



	</td>
</tr>				
				</table>
			</fieldset>
			
			<button
				onclick="
					frm = document.getElementById('frmImportFile');
					el_act = document.getElementById('act');
					el_act.value = 'SAVE';
					frm.submit();
				"
			 	type="button">Save</button>
			 <button
				onclick="
					frm = document.getElementById('frmImportFile');
					el_act = document.getElementById('act');
					el_act.value = 'REMOVE';
					frm.submit();
				"
			 	type="button">Delete</button>
			 <button
				onclick="
					frm = document.getElementById('frmImportFile');
					el_act = document.getElementById('act');
					el_act.value = 'CANCEL';
					frm.submit();
				"
			 	type="button">Cancel</button>
		</form>