		<form 
			id="frmRacedagKlasse" 
			name="RacedagKlasse" 
			method="POST" 
			action="/update/racedagklasse"
			class="niceform">
			<input type="hidden" id="act" name="act" value="" />
<!-- 			<input type="hidden" name="uid" value="<?php  echo $record->getUid(); ?>"  /> -->
			<fieldset>
				<legend>RacedagKlasse</legend>
				<table>
<?php 
	if(isset($messages)) {
		echo '<div class="clsError">';
		foreach ( $messages as $message )
		{	echo $message . '<br/>';
		}
		echo '</div>';
	}
?>				

<tr>
	<td valign="top">
<label for="uid">
	<?php  echo $record->getLabel('uid'); ?>
</label>

	</td>
	<td>

<input type="<?php  echo $record->getHtmlType('uid');  ?>" 
	name="uid" 
	id="uid"
	value="<?php  echo $record->getUid();  ?>" 
	<?php  
			echo $record->getHtmlSpecialAttributes('uid');
	  ?>
	/>



	</td>
</tr>
<tr>
	<td valign="top">
<label for="racedag_id">
	<?php  echo $record->getLabel('racedag_id'); ?>
</label>

	</td>
	<td>
<?php 		$this->selectBox("racedag_id","Racedag",$record->getRacedagId());	?>
<br/>		
	</td>
</tr>
<tr>
	<td valign="top">
<label for="klasse_id">
	<?php  echo $record->getLabel('klasse_id'); ?>
</label>

	</td>
	<td>
<?php 		$this->selectBox("klasse_id","Klasse",$record->getKlasseId());	?>
<br/>		
	</td>
</tr>				
				</table>
			</fieldset>
			
			<button
				onclick="
					frm = document.getElementById('frmRacedagKlasse');
					el_act = document.getElementById('act');
					el_act.value = 'SAVE';
					frm.submit();
				"
			 	type="button">Save</button>
			 <button
				onclick="
					frm = document.getElementById('frmRacedagKlasse');
					el_act = document.getElementById('act');
					el_act.value = 'REMOVE';
					frm.submit();
				"
			 	type="button">Delete</button>
			 <button
				onclick="
					frm = document.getElementById('frmRacedagKlasse');
					el_act = document.getElementById('act');
					el_act.value = 'CANCEL';
					frm.submit();
				"
			 	type="button">Cancel</button>
		</form>