		<a href="/add/RacedagKlasse">Nieuwe RacedagKlasse</a><br/>
		<table class="table_1">
			<th></th>
<?php
	$bgColorIndex = 0;
	foreach ( $RacedagKlasse as $record )
	{
?>
		<tr class="<?php  
			 echo ($bgColorIndex % 2?'clsEvenRow':'clsOddRow'); 
			 ?>" >
<td>
<a href="/edit/RacedagKlasse/<?php echo $record->getUid()?>">
<?php  
	echo $record->getUid($record->getUid()); 
?>
</a>
</td>

<td>
<a href="/edit/RacedagKlasse/<?php echo $record->getUid()?>">
<?php  
	echo $record->getRacedag($record->getRacedagId()); 
?>
</a>
</td>

<td>
<a href="/edit/RacedagKlasse/<?php echo $record->getUid()?>">
<?php  
	echo $record->getKlasse($record->getKlasseId()); 
?>
</a>
</td>

		</tr>
<?php
		$bgColorIndex++;
	}
?>
		</table>
