		<form 
			id="frmResultaat" 
			name="Resultaat" 
			method="POST" 
			action="/update/resultaat"
			class="niceform">
			<input type="hidden" id="act" name="act" value="" />
<!-- 			<input type="hidden" name="uid" value="<?php  echo $record->getUid(); ?>"  /> -->
			<fieldset>
				<legend>Resultaat</legend>
				<table>
<?php 
	if(isset($messages)) {
		echo '<div class="clsError">';
		foreach ( $messages as $message )
		{	echo $message . '<br/>';
		}
		echo '</div>';
	}
?>				

<tr>
	<td valign="top">
<label for="uid">
	<?php  echo $record->getLabel('uid'); ?>
</label>

	</td>
	<td>

<input type="<?php  echo $record->getHtmlType('uid');  ?>" 
	name="uid" 
	id="uid"
	value="<?php  echo $record->getUid();  ?>" 
	<?php  
			echo $record->getHtmlSpecialAttributes('uid');
	  ?>
	/>



	</td>
</tr>
<tr>
	<td valign="top">
<label for="plaats">
	<?php  echo $record->getLabel('plaats'); ?>
</label>

	</td>
	<td>

<input type="<?php  echo $record->getHtmlType('plaats');  ?>" 
	name="plaats" 
	id="plaats"
	value="<?php  echo $record->getPlaats();  ?>" 
	<?php  
			echo $record->getHtmlSpecialAttributes('plaats');
	  ?>
	/>



	</td>
</tr>
<tr>
	<td valign="top">
<label for="naam">
	<?php  echo $record->getLabel('naam'); ?>
</label>

	</td>
	<td>

<input type="<?php  echo $record->getHtmlType('naam');  ?>" 
	name="naam" 
	id="naam"
	value="<?php  echo $record->getNaam();  ?>" 
	<?php  
			echo $record->getHtmlSpecialAttributes('naam');
	  ?>
	/>



	</td>
</tr>
<tr>
	<td valign="top">
<label for="msec_straf">
	<?php  echo $record->getLabel('msec_straf'); ?>
</label>

	</td>
	<td>

<input type="<?php  echo $record->getHtmlType('msec_straf');  ?>" 
	name="msec_straf" 
	id="msec_straf"
	value="<?php  echo $record->getMsecStraf();  ?>" 
	<?php  
			echo $record->getHtmlSpecialAttributes('msec_straf');
	  ?>
	/>



	</td>
</tr>
<tr>
	<td valign="top">
<label for="msec_gemiddeld">
	<?php  echo $record->getLabel('msec_gemiddeld'); ?>
</label>

	</td>
	<td>

<input type="<?php  echo $record->getHtmlType('msec_gemiddeld');  ?>" 
	name="msec_gemiddeld" 
	id="msec_gemiddeld"
	value="<?php  echo $record->getMsecGemiddeld();  ?>" 
	<?php  
			echo $record->getHtmlSpecialAttributes('msec_gemiddeld');
	  ?>
	/>



	</td>
</tr>
<tr>
	<td valign="top">
<label for="rondes">
	<?php  echo $record->getLabel('rondes'); ?>
</label>

	</td>
	<td>

<input type="<?php  echo $record->getHtmlType('rondes');  ?>" 
	name="rondes" 
	id="rondes"
	value="<?php  echo $record->getRondes();  ?>" 
	<?php  
			echo $record->getHtmlSpecialAttributes('rondes');
	  ?>
	/>



	</td>
</tr>
<tr>
	<td valign="top">
<label for="import_file_id">
	<?php  echo $record->getLabel('import_file_id'); ?>
</label>

	</td>
	<td>

<input type="<?php  echo $record->getHtmlType('import_file_id');  ?>" 
	name="import_file_id" 
	id="import_file_id"
	value="<?php  echo $record->getImportFileId();  ?>" 
	<?php  
			echo $record->getHtmlSpecialAttributes('import_file_id');
	  ?>
	/>



	</td>
</tr>				
				</table>
			</fieldset>
			
			<button
				onclick="
					frm = document.getElementById('frmResultaat');
					el_act = document.getElementById('act');
					el_act.value = 'SAVE';
					frm.submit();
				"
			 	type="button">Save</button>
			 <button
				onclick="
					frm = document.getElementById('frmResultaat');
					el_act = document.getElementById('act');
					el_act.value = 'REMOVE';
					frm.submit();
				"
			 	type="button">Delete</button>
			 <button
				onclick="
					frm = document.getElementById('frmResultaat');
					el_act = document.getElementById('act');
					el_act.value = 'CANCEL';
					frm.submit();
				"
			 	type="button">Cancel</button>
		</form>