		<a href="/add/Resultaat">Nieuwe Resultaat</a><br/>
		<table class="table_1">
			<th></th>
<?php
	$bgColorIndex = 0;
	foreach ( $Resultaat as $record )
	{
?>
		<tr class="<?php  
			 echo ($bgColorIndex % 2?'clsEvenRow':'clsOddRow'); 
			 ?>" >
<td>
<a href="/edit/Resultaat/<?php echo $record->getUid()?>">
<?php  
	echo $record->getUid($record->getUid()); 
?>
</a>
</td>

<td>
<a href="/edit/Resultaat/<?php echo $record->getUid()?>">
<?php  
	echo $record->getPlaats($record->getPlaats()); 
?>
</a>
</td>

<td>
<a href="/edit/Resultaat/<?php echo $record->getUid()?>">
<?php  
	echo $record->getNaam($record->getNaam()); 
?>
</a>
</td>

<td>
<a href="/edit/Resultaat/<?php echo $record->getUid()?>">
<?php  
	echo $record->getMsecStraf($record->getMsecStraf()); 
?>
</a>
</td>

<td>
<a href="/edit/Resultaat/<?php echo $record->getUid()?>">
<?php  
	echo $record->getMsecGemiddeld($record->getMsecGemiddeld()); 
?>
</a>
</td>

<td>
<a href="/edit/Resultaat/<?php echo $record->getUid()?>">
<?php  
	echo $record->getRondes($record->getRondes()); 
?>
</a>
</td>

<td>
<a href="/edit/Resultaat/<?php echo $record->getUid()?>">
<?php  
	echo $record->getImportFile($record->getImportFileId()); 
?>
</a>
</td>

		</tr>
<?php
		$bgColorIndex++;
	}
?>
		</table>
