		<a href="/add/Sessies">Nieuwe Sessies</a><br/>
		<table class="table_1">
			<th></th>
<?php
	$bgColorIndex = 0;
	foreach ( $Sessies as $record )
	{
?>
		<tr class="<?php  
			 echo ($bgColorIndex % 2?'clsEvenRow':'clsOddRow'); 
			 ?>" >
<td>
<a href="/edit/Sessies/<?php echo $record->getUid()?>">
<?php  
	echo $record->getUid($record->getUid()); 
?>
</a>
</td>

<td>
<a href="/edit/Sessies/<?php echo $record->getUid()?>">
<?php  
	echo $record->getRacedagKlasse($record->getRacedagKlasseId()); 
?>
</a>
</td>

<td>
<a href="/edit/Sessies/<?php echo $record->getUid()?>">
<?php  
	echo $record->getSessieNaam($record->getSessieNaamId()); 
?>
</a>
</td>

		</tr>
<?php
		$bgColorIndex++;
	}
?>
		</table>
