		<form 
			id="frmVwKlasseTotalen" 
			name="VwKlasseTotalen" 
			method="POST" 
			action="/update/vwklassetotalen"
			class="niceform">
			<input type="hidden" id="act" name="act" value="" />
<!-- 			<input type="hidden" name="uid" value="<?php  echo $record->getUid(); ?>"  /> -->
			<fieldset>
				<legend>VwKlasseTotalen</legend>
				<table>
<?php 
	if(isset($messages)) {
		echo '<div class="clsError">';
		foreach ( $messages as $message )
		{	echo $message . '<br/>';
		}
		echo '</div>';
	}
?>				

<tr>
	<td valign="top">
<label for="racedag_id">
	<?php  echo $record->getLabel('racedag_id'); ?>
</label>

	</td>
	<td>
<br />
<font size='1'><table class='xdebug-error xe-notice' dir='ltr' border='1' cellspacing='0' cellpadding='1'>
<tr><th align='left' bgcolor='#f57900' colspan="5"><span style='background-color: #cc0000; color: #fce94f; font-size: x-large;'>( ! )</span> Notice: Undefined index: Create Table in C:\xampp\htdocs\sam\MVC\sys\classes\lib\dbTable.php on line <i>615</i></th></tr>
<tr><th align='left' bgcolor='#e9b96e' colspan='5'>Call Stack</th></tr>
<tr><th align='center' bgcolor='#eeeeec'>#</th><th align='left' bgcolor='#eeeeec'>Time</th><th align='left' bgcolor='#eeeeec'>Memory</th><th align='left' bgcolor='#eeeeec'>Function</th><th align='left' bgcolor='#eeeeec'>Location</th></tr>
<tr><td bgcolor='#eeeeec' align='center'>1</td><td bgcolor='#eeeeec' align='center'>0.2153</td><td bgcolor='#eeeeec' align='right'>479336</td><td bgcolor='#eeeeec'>{main}(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>0</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>2</td><td bgcolor='#eeeeec' align='center'>0.2252</td><td bgcolor='#eeeeec' align='right'>501528</td><td bgcolor='#eeeeec'>MVC->main(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>331</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>3</td><td bgcolor='#eeeeec' align='center'>1.6798</td><td bgcolor='#eeeeec' align='right'>1667352</td><td bgcolor='#eeeeec'>TemplateEngine->execTemplate( ??? )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>161</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>4</td><td bgcolor='#eeeeec' align='center'>1.6805</td><td bgcolor='#eeeeec' align='right'>1719944</td><td bgcolor='#eeeeec'>require( <font color='#00bb00'>'C:\xampp\htdocs\sam\MVC\sys\template\detailRecords.php'</font> )</td><td title='C:\xampp\htdocs\sam\MVC\sys\classes\lib\TemplateEngine.php' bgcolor='#eeeeec'>..\TemplateEngine.php<b>:</b>57</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>5</td><td bgcolor='#eeeeec' align='center'>1.6862</td><td bgcolor='#eeeeec' align='right'>1813648</td><td bgcolor='#eeeeec'>dbTable->getForeignKey( ??? )</td><td title='C:\xampp\htdocs\sam\MVC\sys\template\detailRecords.php' bgcolor='#eeeeec'>..\detailRecords.php<b>:</b>14</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>6</td><td bgcolor='#eeeeec' align='center'>1.6863</td><td bgcolor='#eeeeec' align='right'>1813648</td><td bgcolor='#eeeeec'>dbTable->getForeignKeys(  )</td><td title='C:\xampp\htdocs\sam\MVC\sys\classes\lib\dbTable.php' bgcolor='#eeeeec'>..\dbTable.php<b>:</b>582</td></tr>
</table></font>

<input type="<?php  echo $record->getHtmlType('racedag_id');  ?>" 
	name="racedag_id" 
	id="racedag_id"
	value="<?php  echo $record->getRacedagId();  ?>" 
	<?php  
			echo $record->getHtmlSpecialAttributes('racedag_id');
	  ?>
	/>



	</td>
</tr>
<tr>
	<td valign="top">
<label for="klasse_id">
	<?php  echo $record->getLabel('klasse_id'); ?>
</label>

	</td>
	<td>
<br />
<font size='1'><table class='xdebug-error xe-notice' dir='ltr' border='1' cellspacing='0' cellpadding='1'>
<tr><th align='left' bgcolor='#f57900' colspan="5"><span style='background-color: #cc0000; color: #fce94f; font-size: x-large;'>( ! )</span> Notice: Undefined index: Create Table in C:\xampp\htdocs\sam\MVC\sys\classes\lib\dbTable.php on line <i>615</i></th></tr>
<tr><th align='left' bgcolor='#e9b96e' colspan='5'>Call Stack</th></tr>
<tr><th align='center' bgcolor='#eeeeec'>#</th><th align='left' bgcolor='#eeeeec'>Time</th><th align='left' bgcolor='#eeeeec'>Memory</th><th align='left' bgcolor='#eeeeec'>Function</th><th align='left' bgcolor='#eeeeec'>Location</th></tr>
<tr><td bgcolor='#eeeeec' align='center'>1</td><td bgcolor='#eeeeec' align='center'>0.2153</td><td bgcolor='#eeeeec' align='right'>479336</td><td bgcolor='#eeeeec'>{main}(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>0</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>2</td><td bgcolor='#eeeeec' align='center'>0.2252</td><td bgcolor='#eeeeec' align='right'>501528</td><td bgcolor='#eeeeec'>MVC->main(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>331</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>3</td><td bgcolor='#eeeeec' align='center'>1.7118</td><td bgcolor='#eeeeec' align='right'>1766280</td><td bgcolor='#eeeeec'>TemplateEngine->execTemplate( ??? )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>161</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>4</td><td bgcolor='#eeeeec' align='center'>1.7126</td><td bgcolor='#eeeeec' align='right'>1818872</td><td bgcolor='#eeeeec'>require( <font color='#00bb00'>'C:\xampp\htdocs\sam\MVC\sys\template\detailRecords.php'</font> )</td><td title='C:\xampp\htdocs\sam\MVC\sys\classes\lib\TemplateEngine.php' bgcolor='#eeeeec'>..\TemplateEngine.php<b>:</b>57</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>5</td><td bgcolor='#eeeeec' align='center'>1.7142</td><td bgcolor='#eeeeec' align='right'>1821128</td><td bgcolor='#eeeeec'>dbTable->getForeignKey( ??? )</td><td title='C:\xampp\htdocs\sam\MVC\sys\template\detailRecords.php' bgcolor='#eeeeec'>..\detailRecords.php<b>:</b>14</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>6</td><td bgcolor='#eeeeec' align='center'>1.7142</td><td bgcolor='#eeeeec' align='right'>1821128</td><td bgcolor='#eeeeec'>dbTable->getForeignKeys(  )</td><td title='C:\xampp\htdocs\sam\MVC\sys\classes\lib\dbTable.php' bgcolor='#eeeeec'>..\dbTable.php<b>:</b>582</td></tr>
</table></font>

<input type="<?php  echo $record->getHtmlType('klasse_id');  ?>" 
	name="klasse_id" 
	id="klasse_id"
	value="<?php  echo $record->getKlasseId();  ?>" 
	<?php  
			echo $record->getHtmlSpecialAttributes('klasse_id');
	  ?>
	/>



	</td>
</tr>
<tr>
	<td valign="top">
<label for="sessies_id">
	<?php  echo $record->getLabel('sessies_id'); ?>
</label>

	</td>
	<td>
<br />
<font size='1'><table class='xdebug-error xe-notice' dir='ltr' border='1' cellspacing='0' cellpadding='1'>
<tr><th align='left' bgcolor='#f57900' colspan="5"><span style='background-color: #cc0000; color: #fce94f; font-size: x-large;'>( ! )</span> Notice: Undefined index: Create Table in C:\xampp\htdocs\sam\MVC\sys\classes\lib\dbTable.php on line <i>615</i></th></tr>
<tr><th align='left' bgcolor='#e9b96e' colspan='5'>Call Stack</th></tr>
<tr><th align='center' bgcolor='#eeeeec'>#</th><th align='left' bgcolor='#eeeeec'>Time</th><th align='left' bgcolor='#eeeeec'>Memory</th><th align='left' bgcolor='#eeeeec'>Function</th><th align='left' bgcolor='#eeeeec'>Location</th></tr>
<tr><td bgcolor='#eeeeec' align='center'>1</td><td bgcolor='#eeeeec' align='center'>0.2153</td><td bgcolor='#eeeeec' align='right'>479336</td><td bgcolor='#eeeeec'>{main}(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>0</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>2</td><td bgcolor='#eeeeec' align='center'>0.2252</td><td bgcolor='#eeeeec' align='right'>501528</td><td bgcolor='#eeeeec'>MVC->main(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>331</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>3</td><td bgcolor='#eeeeec' align='center'>1.7368</td><td bgcolor='#eeeeec' align='right'>1772600</td><td bgcolor='#eeeeec'>TemplateEngine->execTemplate( ??? )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>161</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>4</td><td bgcolor='#eeeeec' align='center'>1.7373</td><td bgcolor='#eeeeec' align='right'>1825192</td><td bgcolor='#eeeeec'>require( <font color='#00bb00'>'C:\xampp\htdocs\sam\MVC\sys\template\detailRecords.php'</font> )</td><td title='C:\xampp\htdocs\sam\MVC\sys\classes\lib\TemplateEngine.php' bgcolor='#eeeeec'>..\TemplateEngine.php<b>:</b>57</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>5</td><td bgcolor='#eeeeec' align='center'>1.7398</td><td bgcolor='#eeeeec' align='right'>1827448</td><td bgcolor='#eeeeec'>dbTable->getForeignKey( ??? )</td><td title='C:\xampp\htdocs\sam\MVC\sys\template\detailRecords.php' bgcolor='#eeeeec'>..\detailRecords.php<b>:</b>14</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>6</td><td bgcolor='#eeeeec' align='center'>1.7398</td><td bgcolor='#eeeeec' align='right'>1827448</td><td bgcolor='#eeeeec'>dbTable->getForeignKeys(  )</td><td title='C:\xampp\htdocs\sam\MVC\sys\classes\lib\dbTable.php' bgcolor='#eeeeec'>..\dbTable.php<b>:</b>582</td></tr>
</table></font>

<input type="<?php  echo $record->getHtmlType('sessies_id');  ?>" 
	name="sessies_id" 
	id="sessies_id"
	value="<?php  echo $record->getSessiesId();  ?>" 
	<?php  
			echo $record->getHtmlSpecialAttributes('sessies_id');
	  ?>
	/>



	</td>
</tr>
<tr>
	<td valign="top">
<label for="racedag_naam">
	<?php  echo $record->getLabel('racedag_naam'); ?>
</label>

	</td>
	<td>
<br />
<font size='1'><table class='xdebug-error xe-notice' dir='ltr' border='1' cellspacing='0' cellpadding='1'>
<tr><th align='left' bgcolor='#f57900' colspan="5"><span style='background-color: #cc0000; color: #fce94f; font-size: x-large;'>( ! )</span> Notice: Undefined index: Create Table in C:\xampp\htdocs\sam\MVC\sys\classes\lib\dbTable.php on line <i>615</i></th></tr>
<tr><th align='left' bgcolor='#e9b96e' colspan='5'>Call Stack</th></tr>
<tr><th align='center' bgcolor='#eeeeec'>#</th><th align='left' bgcolor='#eeeeec'>Time</th><th align='left' bgcolor='#eeeeec'>Memory</th><th align='left' bgcolor='#eeeeec'>Function</th><th align='left' bgcolor='#eeeeec'>Location</th></tr>
<tr><td bgcolor='#eeeeec' align='center'>1</td><td bgcolor='#eeeeec' align='center'>0.2153</td><td bgcolor='#eeeeec' align='right'>479336</td><td bgcolor='#eeeeec'>{main}(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>0</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>2</td><td bgcolor='#eeeeec' align='center'>0.2252</td><td bgcolor='#eeeeec' align='right'>501528</td><td bgcolor='#eeeeec'>MVC->main(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>331</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>3</td><td bgcolor='#eeeeec' align='center'>1.7673</td><td bgcolor='#eeeeec' align='right'>1778944</td><td bgcolor='#eeeeec'>TemplateEngine->execTemplate( ??? )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>161</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>4</td><td bgcolor='#eeeeec' align='center'>1.7679</td><td bgcolor='#eeeeec' align='right'>1831536</td><td bgcolor='#eeeeec'>require( <font color='#00bb00'>'C:\xampp\htdocs\sam\MVC\sys\template\detailRecords.php'</font> )</td><td title='C:\xampp\htdocs\sam\MVC\sys\classes\lib\TemplateEngine.php' bgcolor='#eeeeec'>..\TemplateEngine.php<b>:</b>57</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>5</td><td bgcolor='#eeeeec' align='center'>1.7695</td><td bgcolor='#eeeeec' align='right'>1833792</td><td bgcolor='#eeeeec'>dbTable->getForeignKey( ??? )</td><td title='C:\xampp\htdocs\sam\MVC\sys\template\detailRecords.php' bgcolor='#eeeeec'>..\detailRecords.php<b>:</b>14</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>6</td><td bgcolor='#eeeeec' align='center'>1.7695</td><td bgcolor='#eeeeec' align='right'>1833792</td><td bgcolor='#eeeeec'>dbTable->getForeignKeys(  )</td><td title='C:\xampp\htdocs\sam\MVC\sys\classes\lib\dbTable.php' bgcolor='#eeeeec'>..\dbTable.php<b>:</b>582</td></tr>
</table></font>

<input type="<?php  echo $record->getHtmlType('racedag_naam');  ?>" 
	name="racedag_naam" 
	id="racedag_naam"
	value="<?php  echo $record->getRacedagNaam();  ?>" 
	<?php  
			echo $record->getHtmlSpecialAttributes('racedag_naam');
	  ?>
	/>



	</td>
</tr>
<tr>
	<td valign="top">
<label for="racedag_datum">
	<?php  echo $record->getLabel('racedag_datum'); ?>
</label>

	</td>
	<td>
<br />
<font size='1'><table class='xdebug-error xe-notice' dir='ltr' border='1' cellspacing='0' cellpadding='1'>
<tr><th align='left' bgcolor='#f57900' colspan="5"><span style='background-color: #cc0000; color: #fce94f; font-size: x-large;'>( ! )</span> Notice: Undefined index: Create Table in C:\xampp\htdocs\sam\MVC\sys\classes\lib\dbTable.php on line <i>615</i></th></tr>
<tr><th align='left' bgcolor='#e9b96e' colspan='5'>Call Stack</th></tr>
<tr><th align='center' bgcolor='#eeeeec'>#</th><th align='left' bgcolor='#eeeeec'>Time</th><th align='left' bgcolor='#eeeeec'>Memory</th><th align='left' bgcolor='#eeeeec'>Function</th><th align='left' bgcolor='#eeeeec'>Location</th></tr>
<tr><td bgcolor='#eeeeec' align='center'>1</td><td bgcolor='#eeeeec' align='center'>0.2153</td><td bgcolor='#eeeeec' align='right'>479336</td><td bgcolor='#eeeeec'>{main}(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>0</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>2</td><td bgcolor='#eeeeec' align='center'>0.2252</td><td bgcolor='#eeeeec' align='right'>501528</td><td bgcolor='#eeeeec'>MVC->main(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>331</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>3</td><td bgcolor='#eeeeec' align='center'>1.8107</td><td bgcolor='#eeeeec' align='right'>1785304</td><td bgcolor='#eeeeec'>TemplateEngine->execTemplate( ??? )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>161</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>4</td><td bgcolor='#eeeeec' align='center'>1.8115</td><td bgcolor='#eeeeec' align='right'>1837896</td><td bgcolor='#eeeeec'>require( <font color='#00bb00'>'C:\xampp\htdocs\sam\MVC\sys\template\detailRecords.php'</font> )</td><td title='C:\xampp\htdocs\sam\MVC\sys\classes\lib\TemplateEngine.php' bgcolor='#eeeeec'>..\TemplateEngine.php<b>:</b>57</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>5</td><td bgcolor='#eeeeec' align='center'>1.8133</td><td bgcolor='#eeeeec' align='right'>1840152</td><td bgcolor='#eeeeec'>dbTable->getForeignKey( ??? )</td><td title='C:\xampp\htdocs\sam\MVC\sys\template\detailRecords.php' bgcolor='#eeeeec'>..\detailRecords.php<b>:</b>14</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>6</td><td bgcolor='#eeeeec' align='center'>1.8133</td><td bgcolor='#eeeeec' align='right'>1840152</td><td bgcolor='#eeeeec'>dbTable->getForeignKeys(  )</td><td title='C:\xampp\htdocs\sam\MVC\sys\classes\lib\dbTable.php' bgcolor='#eeeeec'>..\dbTable.php<b>:</b>582</td></tr>
</table></font>

<input type="<?php  echo $record->getHtmlType('racedag_datum');  ?>" 
	name="racedag_datum" 
	id="racedag_datum"
	value="<?php  echo $record->getRacedagDatum();  ?>" 
	<?php  
			echo $record->getHtmlSpecialAttributes('racedag_datum');
	  ?>
	/>



	</td>
</tr>
<tr>
	<td valign="top">
<label for="klasse_naam">
	<?php  echo $record->getLabel('klasse_naam'); ?>
</label>

	</td>
	<td>
<br />
<font size='1'><table class='xdebug-error xe-notice' dir='ltr' border='1' cellspacing='0' cellpadding='1'>
<tr><th align='left' bgcolor='#f57900' colspan="5"><span style='background-color: #cc0000; color: #fce94f; font-size: x-large;'>( ! )</span> Notice: Undefined index: Create Table in C:\xampp\htdocs\sam\MVC\sys\classes\lib\dbTable.php on line <i>615</i></th></tr>
<tr><th align='left' bgcolor='#e9b96e' colspan='5'>Call Stack</th></tr>
<tr><th align='center' bgcolor='#eeeeec'>#</th><th align='left' bgcolor='#eeeeec'>Time</th><th align='left' bgcolor='#eeeeec'>Memory</th><th align='left' bgcolor='#eeeeec'>Function</th><th align='left' bgcolor='#eeeeec'>Location</th></tr>
<tr><td bgcolor='#eeeeec' align='center'>1</td><td bgcolor='#eeeeec' align='center'>0.2153</td><td bgcolor='#eeeeec' align='right'>479336</td><td bgcolor='#eeeeec'>{main}(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>0</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>2</td><td bgcolor='#eeeeec' align='center'>0.2252</td><td bgcolor='#eeeeec' align='right'>501528</td><td bgcolor='#eeeeec'>MVC->main(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>331</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>3</td><td bgcolor='#eeeeec' align='center'>1.8470</td><td bgcolor='#eeeeec' align='right'>1791672</td><td bgcolor='#eeeeec'>TemplateEngine->execTemplate( ??? )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>161</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>4</td><td bgcolor='#eeeeec' align='center'>1.8477</td><td bgcolor='#eeeeec' align='right'>1844264</td><td bgcolor='#eeeeec'>require( <font color='#00bb00'>'C:\xampp\htdocs\sam\MVC\sys\template\detailRecords.php'</font> )</td><td title='C:\xampp\htdocs\sam\MVC\sys\classes\lib\TemplateEngine.php' bgcolor='#eeeeec'>..\TemplateEngine.php<b>:</b>57</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>5</td><td bgcolor='#eeeeec' align='center'>1.8495</td><td bgcolor='#eeeeec' align='right'>1846520</td><td bgcolor='#eeeeec'>dbTable->getForeignKey( ??? )</td><td title='C:\xampp\htdocs\sam\MVC\sys\template\detailRecords.php' bgcolor='#eeeeec'>..\detailRecords.php<b>:</b>14</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>6</td><td bgcolor='#eeeeec' align='center'>1.8495</td><td bgcolor='#eeeeec' align='right'>1846520</td><td bgcolor='#eeeeec'>dbTable->getForeignKeys(  )</td><td title='C:\xampp\htdocs\sam\MVC\sys\classes\lib\dbTable.php' bgcolor='#eeeeec'>..\dbTable.php<b>:</b>582</td></tr>
</table></font>

<input type="<?php  echo $record->getHtmlType('klasse_naam');  ?>" 
	name="klasse_naam" 
	id="klasse_naam"
	value="<?php  echo $record->getKlasseNaam();  ?>" 
	<?php  
			echo $record->getHtmlSpecialAttributes('klasse_naam');
	  ?>
	/>



	</td>
</tr>
<tr>
	<td valign="top">
<label for="sessie_naam">
	<?php  echo $record->getLabel('sessie_naam'); ?>
</label>

	</td>
	<td>
<br />
<font size='1'><table class='xdebug-error xe-notice' dir='ltr' border='1' cellspacing='0' cellpadding='1'>
<tr><th align='left' bgcolor='#f57900' colspan="5"><span style='background-color: #cc0000; color: #fce94f; font-size: x-large;'>( ! )</span> Notice: Undefined index: Create Table in C:\xampp\htdocs\sam\MVC\sys\classes\lib\dbTable.php on line <i>615</i></th></tr>
<tr><th align='left' bgcolor='#e9b96e' colspan='5'>Call Stack</th></tr>
<tr><th align='center' bgcolor='#eeeeec'>#</th><th align='left' bgcolor='#eeeeec'>Time</th><th align='left' bgcolor='#eeeeec'>Memory</th><th align='left' bgcolor='#eeeeec'>Function</th><th align='left' bgcolor='#eeeeec'>Location</th></tr>
<tr><td bgcolor='#eeeeec' align='center'>1</td><td bgcolor='#eeeeec' align='center'>0.2153</td><td bgcolor='#eeeeec' align='right'>479336</td><td bgcolor='#eeeeec'>{main}(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>0</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>2</td><td bgcolor='#eeeeec' align='center'>0.2252</td><td bgcolor='#eeeeec' align='right'>501528</td><td bgcolor='#eeeeec'>MVC->main(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>331</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>3</td><td bgcolor='#eeeeec' align='center'>1.8933</td><td bgcolor='#eeeeec' align='right'>1798016</td><td bgcolor='#eeeeec'>TemplateEngine->execTemplate( ??? )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>161</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>4</td><td bgcolor='#eeeeec' align='center'>1.8938</td><td bgcolor='#eeeeec' align='right'>1850608</td><td bgcolor='#eeeeec'>require( <font color='#00bb00'>'C:\xampp\htdocs\sam\MVC\sys\template\detailRecords.php'</font> )</td><td title='C:\xampp\htdocs\sam\MVC\sys\classes\lib\TemplateEngine.php' bgcolor='#eeeeec'>..\TemplateEngine.php<b>:</b>57</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>5</td><td bgcolor='#eeeeec' align='center'>1.8950</td><td bgcolor='#eeeeec' align='right'>1852864</td><td bgcolor='#eeeeec'>dbTable->getForeignKey( ??? )</td><td title='C:\xampp\htdocs\sam\MVC\sys\template\detailRecords.php' bgcolor='#eeeeec'>..\detailRecords.php<b>:</b>14</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>6</td><td bgcolor='#eeeeec' align='center'>1.8951</td><td bgcolor='#eeeeec' align='right'>1852864</td><td bgcolor='#eeeeec'>dbTable->getForeignKeys(  )</td><td title='C:\xampp\htdocs\sam\MVC\sys\classes\lib\dbTable.php' bgcolor='#eeeeec'>..\dbTable.php<b>:</b>582</td></tr>
</table></font>

<input type="<?php  echo $record->getHtmlType('sessie_naam');  ?>" 
	name="sessie_naam" 
	id="sessie_naam"
	value="<?php  echo $record->getSessieNaam();  ?>" 
	<?php  
			echo $record->getHtmlSpecialAttributes('sessie_naam');
	  ?>
	/>



	</td>
</tr>
<tr>
	<td valign="top">
<label for="resultaat_rondes">
	<?php  echo $record->getLabel('resultaat_rondes'); ?>
</label>

	</td>
	<td>
<br />
<font size='1'><table class='xdebug-error xe-notice' dir='ltr' border='1' cellspacing='0' cellpadding='1'>
<tr><th align='left' bgcolor='#f57900' colspan="5"><span style='background-color: #cc0000; color: #fce94f; font-size: x-large;'>( ! )</span> Notice: Undefined index: Create Table in C:\xampp\htdocs\sam\MVC\sys\classes\lib\dbTable.php on line <i>615</i></th></tr>
<tr><th align='left' bgcolor='#e9b96e' colspan='5'>Call Stack</th></tr>
<tr><th align='center' bgcolor='#eeeeec'>#</th><th align='left' bgcolor='#eeeeec'>Time</th><th align='left' bgcolor='#eeeeec'>Memory</th><th align='left' bgcolor='#eeeeec'>Function</th><th align='left' bgcolor='#eeeeec'>Location</th></tr>
<tr><td bgcolor='#eeeeec' align='center'>1</td><td bgcolor='#eeeeec' align='center'>0.2153</td><td bgcolor='#eeeeec' align='right'>479336</td><td bgcolor='#eeeeec'>{main}(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>0</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>2</td><td bgcolor='#eeeeec' align='center'>0.2252</td><td bgcolor='#eeeeec' align='right'>501528</td><td bgcolor='#eeeeec'>MVC->main(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>331</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>3</td><td bgcolor='#eeeeec' align='center'>1.9193</td><td bgcolor='#eeeeec' align='right'>1804384</td><td bgcolor='#eeeeec'>TemplateEngine->execTemplate( ??? )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>161</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>4</td><td bgcolor='#eeeeec' align='center'>1.9199</td><td bgcolor='#eeeeec' align='right'>1856976</td><td bgcolor='#eeeeec'>require( <font color='#00bb00'>'C:\xampp\htdocs\sam\MVC\sys\template\detailRecords.php'</font> )</td><td title='C:\xampp\htdocs\sam\MVC\sys\classes\lib\TemplateEngine.php' bgcolor='#eeeeec'>..\TemplateEngine.php<b>:</b>57</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>5</td><td bgcolor='#eeeeec' align='center'>1.9216</td><td bgcolor='#eeeeec' align='right'>1859232</td><td bgcolor='#eeeeec'>dbTable->getForeignKey( ??? )</td><td title='C:\xampp\htdocs\sam\MVC\sys\template\detailRecords.php' bgcolor='#eeeeec'>..\detailRecords.php<b>:</b>14</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>6</td><td bgcolor='#eeeeec' align='center'>1.9216</td><td bgcolor='#eeeeec' align='right'>1859232</td><td bgcolor='#eeeeec'>dbTable->getForeignKeys(  )</td><td title='C:\xampp\htdocs\sam\MVC\sys\classes\lib\dbTable.php' bgcolor='#eeeeec'>..\dbTable.php<b>:</b>582</td></tr>
</table></font>

<input type="<?php  echo $record->getHtmlType('resultaat_rondes');  ?>" 
	name="resultaat_rondes" 
	id="resultaat_rondes"
	value="<?php  echo $record->getResultaatRondes();  ?>" 
	<?php  
			echo $record->getHtmlSpecialAttributes('resultaat_rondes');
	  ?>
	/>



	</td>
</tr>
<tr>
	<td valign="top">
<label for="msec_gemiddeld">
	<?php  echo $record->getLabel('msec_gemiddeld'); ?>
</label>

	</td>
	<td>
<br />
<font size='1'><table class='xdebug-error xe-notice' dir='ltr' border='1' cellspacing='0' cellpadding='1'>
<tr><th align='left' bgcolor='#f57900' colspan="5"><span style='background-color: #cc0000; color: #fce94f; font-size: x-large;'>( ! )</span> Notice: Undefined index: Create Table in C:\xampp\htdocs\sam\MVC\sys\classes\lib\dbTable.php on line <i>615</i></th></tr>
<tr><th align='left' bgcolor='#e9b96e' colspan='5'>Call Stack</th></tr>
<tr><th align='center' bgcolor='#eeeeec'>#</th><th align='left' bgcolor='#eeeeec'>Time</th><th align='left' bgcolor='#eeeeec'>Memory</th><th align='left' bgcolor='#eeeeec'>Function</th><th align='left' bgcolor='#eeeeec'>Location</th></tr>
<tr><td bgcolor='#eeeeec' align='center'>1</td><td bgcolor='#eeeeec' align='center'>0.2153</td><td bgcolor='#eeeeec' align='right'>479336</td><td bgcolor='#eeeeec'>{main}(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>0</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>2</td><td bgcolor='#eeeeec' align='center'>0.2252</td><td bgcolor='#eeeeec' align='right'>501528</td><td bgcolor='#eeeeec'>MVC->main(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>331</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>3</td><td bgcolor='#eeeeec' align='center'>1.9448</td><td bgcolor='#eeeeec' align='right'>1810784</td><td bgcolor='#eeeeec'>TemplateEngine->execTemplate( ??? )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>161</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>4</td><td bgcolor='#eeeeec' align='center'>1.9453</td><td bgcolor='#eeeeec' align='right'>1863376</td><td bgcolor='#eeeeec'>require( <font color='#00bb00'>'C:\xampp\htdocs\sam\MVC\sys\template\detailRecords.php'</font> )</td><td title='C:\xampp\htdocs\sam\MVC\sys\classes\lib\TemplateEngine.php' bgcolor='#eeeeec'>..\TemplateEngine.php<b>:</b>57</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>5</td><td bgcolor='#eeeeec' align='center'>1.9470</td><td bgcolor='#eeeeec' align='right'>1865632</td><td bgcolor='#eeeeec'>dbTable->getForeignKey( ??? )</td><td title='C:\xampp\htdocs\sam\MVC\sys\template\detailRecords.php' bgcolor='#eeeeec'>..\detailRecords.php<b>:</b>14</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>6</td><td bgcolor='#eeeeec' align='center'>1.9470</td><td bgcolor='#eeeeec' align='right'>1865632</td><td bgcolor='#eeeeec'>dbTable->getForeignKeys(  )</td><td title='C:\xampp\htdocs\sam\MVC\sys\classes\lib\dbTable.php' bgcolor='#eeeeec'>..\dbTable.php<b>:</b>582</td></tr>
</table></font>

<input type="<?php  echo $record->getHtmlType('msec_gemiddeld');  ?>" 
	name="msec_gemiddeld" 
	id="msec_gemiddeld"
	value="<?php  echo $record->getMsecGemiddeld();  ?>" 
	<?php  
			echo $record->getHtmlSpecialAttributes('msec_gemiddeld');
	  ?>
	/>



	</td>
</tr>
<tr>
	<td valign="top">
<label for="msec_straf">
	<?php  echo $record->getLabel('msec_straf'); ?>
</label>

	</td>
	<td>
<br />
<font size='1'><table class='xdebug-error xe-notice' dir='ltr' border='1' cellspacing='0' cellpadding='1'>
<tr><th align='left' bgcolor='#f57900' colspan="5"><span style='background-color: #cc0000; color: #fce94f; font-size: x-large;'>( ! )</span> Notice: Undefined index: Create Table in C:\xampp\htdocs\sam\MVC\sys\classes\lib\dbTable.php on line <i>615</i></th></tr>
<tr><th align='left' bgcolor='#e9b96e' colspan='5'>Call Stack</th></tr>
<tr><th align='center' bgcolor='#eeeeec'>#</th><th align='left' bgcolor='#eeeeec'>Time</th><th align='left' bgcolor='#eeeeec'>Memory</th><th align='left' bgcolor='#eeeeec'>Function</th><th align='left' bgcolor='#eeeeec'>Location</th></tr>
<tr><td bgcolor='#eeeeec' align='center'>1</td><td bgcolor='#eeeeec' align='center'>0.2153</td><td bgcolor='#eeeeec' align='right'>479336</td><td bgcolor='#eeeeec'>{main}(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>0</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>2</td><td bgcolor='#eeeeec' align='center'>0.2252</td><td bgcolor='#eeeeec' align='right'>501528</td><td bgcolor='#eeeeec'>MVC->main(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>331</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>3</td><td bgcolor='#eeeeec' align='center'>1.9703</td><td bgcolor='#eeeeec' align='right'>1817160</td><td bgcolor='#eeeeec'>TemplateEngine->execTemplate( ??? )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>161</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>4</td><td bgcolor='#eeeeec' align='center'>1.9709</td><td bgcolor='#eeeeec' align='right'>1869752</td><td bgcolor='#eeeeec'>require( <font color='#00bb00'>'C:\xampp\htdocs\sam\MVC\sys\template\detailRecords.php'</font> )</td><td title='C:\xampp\htdocs\sam\MVC\sys\classes\lib\TemplateEngine.php' bgcolor='#eeeeec'>..\TemplateEngine.php<b>:</b>57</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>5</td><td bgcolor='#eeeeec' align='center'>1.9731</td><td bgcolor='#eeeeec' align='right'>1872008</td><td bgcolor='#eeeeec'>dbTable->getForeignKey( ??? )</td><td title='C:\xampp\htdocs\sam\MVC\sys\template\detailRecords.php' bgcolor='#eeeeec'>..\detailRecords.php<b>:</b>14</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>6</td><td bgcolor='#eeeeec' align='center'>1.9732</td><td bgcolor='#eeeeec' align='right'>1872008</td><td bgcolor='#eeeeec'>dbTable->getForeignKeys(  )</td><td title='C:\xampp\htdocs\sam\MVC\sys\classes\lib\dbTable.php' bgcolor='#eeeeec'>..\dbTable.php<b>:</b>582</td></tr>
</table></font>

<input type="<?php  echo $record->getHtmlType('msec_straf');  ?>" 
	name="msec_straf" 
	id="msec_straf"
	value="<?php  echo $record->getMsecStraf();  ?>" 
	<?php  
			echo $record->getHtmlSpecialAttributes('msec_straf');
	  ?>
	/>



	</td>
</tr>
<tr>
	<td valign="top">
<label for="resultaat_naam">
	<?php  echo $record->getLabel('resultaat_naam'); ?>
</label>

	</td>
	<td>
<br />
<font size='1'><table class='xdebug-error xe-notice' dir='ltr' border='1' cellspacing='0' cellpadding='1'>
<tr><th align='left' bgcolor='#f57900' colspan="5"><span style='background-color: #cc0000; color: #fce94f; font-size: x-large;'>( ! )</span> Notice: Undefined index: Create Table in C:\xampp\htdocs\sam\MVC\sys\classes\lib\dbTable.php on line <i>615</i></th></tr>
<tr><th align='left' bgcolor='#e9b96e' colspan='5'>Call Stack</th></tr>
<tr><th align='center' bgcolor='#eeeeec'>#</th><th align='left' bgcolor='#eeeeec'>Time</th><th align='left' bgcolor='#eeeeec'>Memory</th><th align='left' bgcolor='#eeeeec'>Function</th><th align='left' bgcolor='#eeeeec'>Location</th></tr>
<tr><td bgcolor='#eeeeec' align='center'>1</td><td bgcolor='#eeeeec' align='center'>0.2153</td><td bgcolor='#eeeeec' align='right'>479336</td><td bgcolor='#eeeeec'>{main}(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>0</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>2</td><td bgcolor='#eeeeec' align='center'>0.2252</td><td bgcolor='#eeeeec' align='right'>501528</td><td bgcolor='#eeeeec'>MVC->main(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>331</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>3</td><td bgcolor='#eeeeec' align='center'>1.9973</td><td bgcolor='#eeeeec' align='right'>1823512</td><td bgcolor='#eeeeec'>TemplateEngine->execTemplate( ??? )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>161</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>4</td><td bgcolor='#eeeeec' align='center'>1.9980</td><td bgcolor='#eeeeec' align='right'>1876104</td><td bgcolor='#eeeeec'>require( <font color='#00bb00'>'C:\xampp\htdocs\sam\MVC\sys\template\detailRecords.php'</font> )</td><td title='C:\xampp\htdocs\sam\MVC\sys\classes\lib\TemplateEngine.php' bgcolor='#eeeeec'>..\TemplateEngine.php<b>:</b>57</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>5</td><td bgcolor='#eeeeec' align='center'>1.9997</td><td bgcolor='#eeeeec' align='right'>1878360</td><td bgcolor='#eeeeec'>dbTable->getForeignKey( ??? )</td><td title='C:\xampp\htdocs\sam\MVC\sys\template\detailRecords.php' bgcolor='#eeeeec'>..\detailRecords.php<b>:</b>14</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>6</td><td bgcolor='#eeeeec' align='center'>1.9997</td><td bgcolor='#eeeeec' align='right'>1878360</td><td bgcolor='#eeeeec'>dbTable->getForeignKeys(  )</td><td title='C:\xampp\htdocs\sam\MVC\sys\classes\lib\dbTable.php' bgcolor='#eeeeec'>..\dbTable.php<b>:</b>582</td></tr>
</table></font>

<input type="<?php  echo $record->getHtmlType('resultaat_naam');  ?>" 
	name="resultaat_naam" 
	id="resultaat_naam"
	value="<?php  echo $record->getResultaatNaam();  ?>" 
	<?php  
			echo $record->getHtmlSpecialAttributes('resultaat_naam');
	  ?>
	/>



	</td>
</tr>
<tr>
	<td valign="top">
<label for="sessie_naam_id">
	<?php  echo $record->getLabel('sessie_naam_id'); ?>
</label>

	</td>
	<td>
<br />
<font size='1'><table class='xdebug-error xe-notice' dir='ltr' border='1' cellspacing='0' cellpadding='1'>
<tr><th align='left' bgcolor='#f57900' colspan="5"><span style='background-color: #cc0000; color: #fce94f; font-size: x-large;'>( ! )</span> Notice: Undefined index: Create Table in C:\xampp\htdocs\sam\MVC\sys\classes\lib\dbTable.php on line <i>615</i></th></tr>
<tr><th align='left' bgcolor='#e9b96e' colspan='5'>Call Stack</th></tr>
<tr><th align='center' bgcolor='#eeeeec'>#</th><th align='left' bgcolor='#eeeeec'>Time</th><th align='left' bgcolor='#eeeeec'>Memory</th><th align='left' bgcolor='#eeeeec'>Function</th><th align='left' bgcolor='#eeeeec'>Location</th></tr>
<tr><td bgcolor='#eeeeec' align='center'>1</td><td bgcolor='#eeeeec' align='center'>0.2153</td><td bgcolor='#eeeeec' align='right'>479336</td><td bgcolor='#eeeeec'>{main}(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>0</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>2</td><td bgcolor='#eeeeec' align='center'>0.2252</td><td bgcolor='#eeeeec' align='right'>501528</td><td bgcolor='#eeeeec'>MVC->main(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>331</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>3</td><td bgcolor='#eeeeec' align='center'>2.0257</td><td bgcolor='#eeeeec' align='right'>1829888</td><td bgcolor='#eeeeec'>TemplateEngine->execTemplate( ??? )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>161</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>4</td><td bgcolor='#eeeeec' align='center'>2.0266</td><td bgcolor='#eeeeec' align='right'>1882480</td><td bgcolor='#eeeeec'>require( <font color='#00bb00'>'C:\xampp\htdocs\sam\MVC\sys\template\detailRecords.php'</font> )</td><td title='C:\xampp\htdocs\sam\MVC\sys\classes\lib\TemplateEngine.php' bgcolor='#eeeeec'>..\TemplateEngine.php<b>:</b>57</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>5</td><td bgcolor='#eeeeec' align='center'>2.0284</td><td bgcolor='#eeeeec' align='right'>1884736</td><td bgcolor='#eeeeec'>dbTable->getForeignKey( ??? )</td><td title='C:\xampp\htdocs\sam\MVC\sys\template\detailRecords.php' bgcolor='#eeeeec'>..\detailRecords.php<b>:</b>14</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>6</td><td bgcolor='#eeeeec' align='center'>2.0285</td><td bgcolor='#eeeeec' align='right'>1884736</td><td bgcolor='#eeeeec'>dbTable->getForeignKeys(  )</td><td title='C:\xampp\htdocs\sam\MVC\sys\classes\lib\dbTable.php' bgcolor='#eeeeec'>..\dbTable.php<b>:</b>582</td></tr>
</table></font>

<input type="<?php  echo $record->getHtmlType('sessie_naam_id');  ?>" 
	name="sessie_naam_id" 
	id="sessie_naam_id"
	value="<?php  echo $record->getSessieNaamId();  ?>" 
	<?php  
			echo $record->getHtmlSpecialAttributes('sessie_naam_id');
	  ?>
	/>



	</td>
</tr>				
				</table>
			</fieldset>
			
			<button
				onclick="
					frm = document.getElementById('frmVwKlasseTotalen');
					el_act = document.getElementById('act');
					el_act.value = 'SAVE';
					frm.submit();
				"
			 	type="button">Save</button>
			 <button
				onclick="
					frm = document.getElementById('frmVwKlasseTotalen');
					el_act = document.getElementById('act');
					el_act.value = 'REMOVE';
					frm.submit();
				"
			 	type="button">Delete</button>
			 <button
				onclick="
					frm = document.getElementById('frmVwKlasseTotalen');
					el_act = document.getElementById('act');
					el_act.value = 'CANCEL';
					frm.submit();
				"
			 	type="button">Cancel</button>
		</form>