		<form 
			id="frmVwRondesResultaat" 
			name="VwRondesResultaat" 
			method="POST" 
			action="/update/vwrondesresultaat"
			class="niceform">
			<input type="hidden" id="act" name="act" value="" />
<!-- 			<input type="hidden" name="uid" value="<?php  echo $record->getUid(); ?>"  /> -->
			<fieldset>
				<legend>VwRondesResultaat</legend>
				<table>
<?php 
	if(isset($messages)) {
		echo '<div class="clsError">';
		foreach ( $messages as $message )
		{	echo $message . '<br/>';
		}
		echo '</div>';
	}
?>				

<tr>
	<td valign="top">
<label for="resultaat_naam">
	<?php  echo $record->getLabel('resultaat_naam'); ?>
</label>

	</td>
	<td>
<br />
<font size='1'><table class='xdebug-error xe-notice' dir='ltr' border='1' cellspacing='0' cellpadding='1'>
<tr><th align='left' bgcolor='#f57900' colspan="5"><span style='background-color: #cc0000; color: #fce94f; font-size: x-large;'>( ! )</span> Notice: Undefined index: Create Table in C:\xampp\htdocs\sam\MVC\sys\classes\lib\dbTable.php on line <i>616</i></th></tr>
<tr><th align='left' bgcolor='#e9b96e' colspan='5'>Call Stack</th></tr>
<tr><th align='center' bgcolor='#eeeeec'>#</th><th align='left' bgcolor='#eeeeec'>Time</th><th align='left' bgcolor='#eeeeec'>Memory</th><th align='left' bgcolor='#eeeeec'>Function</th><th align='left' bgcolor='#eeeeec'>Location</th></tr>
<tr><td bgcolor='#eeeeec' align='center'>1</td><td bgcolor='#eeeeec' align='center'>0.1030</td><td bgcolor='#eeeeec' align='right'>478800</td><td bgcolor='#eeeeec'>{main}(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>0</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>2</td><td bgcolor='#eeeeec' align='center'>0.1321</td><td bgcolor='#eeeeec' align='right'>501080</td><td bgcolor='#eeeeec'>MVC->main(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>331</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>3</td><td bgcolor='#eeeeec' align='center'>1.8711</td><td bgcolor='#eeeeec' align='right'>1778328</td><td bgcolor='#eeeeec'>TemplateEngine->execTemplate(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>161</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>4</td><td bgcolor='#eeeeec' align='center'>1.8716</td><td bgcolor='#eeeeec' align='right'>1830920</td><td bgcolor='#eeeeec'>require( <font color='#00bb00'>'C:\xampp\htdocs\sam\MVC\sys\template\detailRecords.php'</font> )</td><td title='C:\xampp\htdocs\sam\MVC\sys\classes\lib\TemplateEngine.php' bgcolor='#eeeeec'>..\TemplateEngine.php<b>:</b>57</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>5</td><td bgcolor='#eeeeec' align='center'>1.8758</td><td bgcolor='#eeeeec' align='right'>1894408</td><td bgcolor='#eeeeec'>dbTable->getForeignKey(  )</td><td title='C:\xampp\htdocs\sam\MVC\sys\template\detailRecords.php' bgcolor='#eeeeec'>..\detailRecords.php<b>:</b>14</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>6</td><td bgcolor='#eeeeec' align='center'>1.8758</td><td bgcolor='#eeeeec' align='right'>1894408</td><td bgcolor='#eeeeec'>dbTable->getForeignKeys(  )</td><td title='C:\xampp\htdocs\sam\MVC\sys\classes\lib\dbTable.php' bgcolor='#eeeeec'>..\dbTable.php<b>:</b>583</td></tr>
</table></font>

<input type="<?php  echo $record->getHtmlType('resultaat_naam');  ?>" 
	name="resultaat_naam" 
	id="resultaat_naam"
	value="<?php  echo $record->getResultaatNaam();  ?>" 
	<?php  
			echo $record->getHtmlSpecialAttributes('resultaat_naam');
	  ?>
	/>



	</td>
</tr>
<tr>
	<td valign="top">
<label for="sessies_id">
	<?php  echo $record->getLabel('sessies_id'); ?>
</label>

	</td>
	<td>
<br />
<font size='1'><table class='xdebug-error xe-notice' dir='ltr' border='1' cellspacing='0' cellpadding='1'>
<tr><th align='left' bgcolor='#f57900' colspan="5"><span style='background-color: #cc0000; color: #fce94f; font-size: x-large;'>( ! )</span> Notice: Undefined index: Create Table in C:\xampp\htdocs\sam\MVC\sys\classes\lib\dbTable.php on line <i>616</i></th></tr>
<tr><th align='left' bgcolor='#e9b96e' colspan='5'>Call Stack</th></tr>
<tr><th align='center' bgcolor='#eeeeec'>#</th><th align='left' bgcolor='#eeeeec'>Time</th><th align='left' bgcolor='#eeeeec'>Memory</th><th align='left' bgcolor='#eeeeec'>Function</th><th align='left' bgcolor='#eeeeec'>Location</th></tr>
<tr><td bgcolor='#eeeeec' align='center'>1</td><td bgcolor='#eeeeec' align='center'>0.1030</td><td bgcolor='#eeeeec' align='right'>478800</td><td bgcolor='#eeeeec'>{main}(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>0</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>2</td><td bgcolor='#eeeeec' align='center'>0.1321</td><td bgcolor='#eeeeec' align='right'>501080</td><td bgcolor='#eeeeec'>MVC->main(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>331</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>3</td><td bgcolor='#eeeeec' align='center'>1.8969</td><td bgcolor='#eeeeec' align='right'>1846304</td><td bgcolor='#eeeeec'>TemplateEngine->execTemplate(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>161</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>4</td><td bgcolor='#eeeeec' align='center'>1.8974</td><td bgcolor='#eeeeec' align='right'>1898896</td><td bgcolor='#eeeeec'>require( <font color='#00bb00'>'C:\xampp\htdocs\sam\MVC\sys\template\detailRecords.php'</font> )</td><td title='C:\xampp\htdocs\sam\MVC\sys\classes\lib\TemplateEngine.php' bgcolor='#eeeeec'>..\TemplateEngine.php<b>:</b>57</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>5</td><td bgcolor='#eeeeec' align='center'>1.9029</td><td bgcolor='#eeeeec' align='right'>1900768</td><td bgcolor='#eeeeec'>dbTable->getForeignKey(  )</td><td title='C:\xampp\htdocs\sam\MVC\sys\template\detailRecords.php' bgcolor='#eeeeec'>..\detailRecords.php<b>:</b>14</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>6</td><td bgcolor='#eeeeec' align='center'>1.9029</td><td bgcolor='#eeeeec' align='right'>1900768</td><td bgcolor='#eeeeec'>dbTable->getForeignKeys(  )</td><td title='C:\xampp\htdocs\sam\MVC\sys\classes\lib\dbTable.php' bgcolor='#eeeeec'>..\dbTable.php<b>:</b>583</td></tr>
</table></font>

<input type="<?php  echo $record->getHtmlType('sessies_id');  ?>" 
	name="sessies_id" 
	id="sessies_id"
	value="<?php  echo $record->getSessiesId();  ?>" 
	<?php  
			echo $record->getHtmlSpecialAttributes('sessies_id');
	  ?>
	/>



	</td>
</tr>
<tr>
	<td valign="top">
<label for="sessie_naam">
	<?php  echo $record->getLabel('sessie_naam'); ?>
</label>

	</td>
	<td>
<br />
<font size='1'><table class='xdebug-error xe-notice' dir='ltr' border='1' cellspacing='0' cellpadding='1'>
<tr><th align='left' bgcolor='#f57900' colspan="5"><span style='background-color: #cc0000; color: #fce94f; font-size: x-large;'>( ! )</span> Notice: Undefined index: Create Table in C:\xampp\htdocs\sam\MVC\sys\classes\lib\dbTable.php on line <i>616</i></th></tr>
<tr><th align='left' bgcolor='#e9b96e' colspan='5'>Call Stack</th></tr>
<tr><th align='center' bgcolor='#eeeeec'>#</th><th align='left' bgcolor='#eeeeec'>Time</th><th align='left' bgcolor='#eeeeec'>Memory</th><th align='left' bgcolor='#eeeeec'>Function</th><th align='left' bgcolor='#eeeeec'>Location</th></tr>
<tr><td bgcolor='#eeeeec' align='center'>1</td><td bgcolor='#eeeeec' align='center'>0.1030</td><td bgcolor='#eeeeec' align='right'>478800</td><td bgcolor='#eeeeec'>{main}(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>0</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>2</td><td bgcolor='#eeeeec' align='center'>0.1321</td><td bgcolor='#eeeeec' align='right'>501080</td><td bgcolor='#eeeeec'>MVC->main(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>331</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>3</td><td bgcolor='#eeeeec' align='center'>1.9244</td><td bgcolor='#eeeeec' align='right'>1852624</td><td bgcolor='#eeeeec'>TemplateEngine->execTemplate(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>161</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>4</td><td bgcolor='#eeeeec' align='center'>1.9250</td><td bgcolor='#eeeeec' align='right'>1905216</td><td bgcolor='#eeeeec'>require( <font color='#00bb00'>'C:\xampp\htdocs\sam\MVC\sys\template\detailRecords.php'</font> )</td><td title='C:\xampp\htdocs\sam\MVC\sys\classes\lib\TemplateEngine.php' bgcolor='#eeeeec'>..\TemplateEngine.php<b>:</b>57</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>5</td><td bgcolor='#eeeeec' align='center'>1.9262</td><td bgcolor='#eeeeec' align='right'>1907088</td><td bgcolor='#eeeeec'>dbTable->getForeignKey(  )</td><td title='C:\xampp\htdocs\sam\MVC\sys\template\detailRecords.php' bgcolor='#eeeeec'>..\detailRecords.php<b>:</b>14</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>6</td><td bgcolor='#eeeeec' align='center'>1.9262</td><td bgcolor='#eeeeec' align='right'>1907088</td><td bgcolor='#eeeeec'>dbTable->getForeignKeys(  )</td><td title='C:\xampp\htdocs\sam\MVC\sys\classes\lib\dbTable.php' bgcolor='#eeeeec'>..\dbTable.php<b>:</b>583</td></tr>
</table></font>

<input type="<?php  echo $record->getHtmlType('sessie_naam');  ?>" 
	name="sessie_naam" 
	id="sessie_naam"
	value="<?php  echo $record->getSessieNaam();  ?>" 
	<?php  
			echo $record->getHtmlSpecialAttributes('sessie_naam');
	  ?>
	/>



	</td>
</tr>
<tr>
	<td valign="top">
<label for="rondes">
	<?php  echo $record->getLabel('rondes'); ?>
</label>

	</td>
	<td>
<br />
<font size='1'><table class='xdebug-error xe-notice' dir='ltr' border='1' cellspacing='0' cellpadding='1'>
<tr><th align='left' bgcolor='#f57900' colspan="5"><span style='background-color: #cc0000; color: #fce94f; font-size: x-large;'>( ! )</span> Notice: Undefined index: Create Table in C:\xampp\htdocs\sam\MVC\sys\classes\lib\dbTable.php on line <i>616</i></th></tr>
<tr><th align='left' bgcolor='#e9b96e' colspan='5'>Call Stack</th></tr>
<tr><th align='center' bgcolor='#eeeeec'>#</th><th align='left' bgcolor='#eeeeec'>Time</th><th align='left' bgcolor='#eeeeec'>Memory</th><th align='left' bgcolor='#eeeeec'>Function</th><th align='left' bgcolor='#eeeeec'>Location</th></tr>
<tr><td bgcolor='#eeeeec' align='center'>1</td><td bgcolor='#eeeeec' align='center'>0.1030</td><td bgcolor='#eeeeec' align='right'>478800</td><td bgcolor='#eeeeec'>{main}(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>0</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>2</td><td bgcolor='#eeeeec' align='center'>0.1321</td><td bgcolor='#eeeeec' align='right'>501080</td><td bgcolor='#eeeeec'>MVC->main(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>331</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>3</td><td bgcolor='#eeeeec' align='center'>1.9437</td><td bgcolor='#eeeeec' align='right'>1858936</td><td bgcolor='#eeeeec'>TemplateEngine->execTemplate(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>161</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>4</td><td bgcolor='#eeeeec' align='center'>1.9443</td><td bgcolor='#eeeeec' align='right'>1911528</td><td bgcolor='#eeeeec'>require( <font color='#00bb00'>'C:\xampp\htdocs\sam\MVC\sys\template\detailRecords.php'</font> )</td><td title='C:\xampp\htdocs\sam\MVC\sys\classes\lib\TemplateEngine.php' bgcolor='#eeeeec'>..\TemplateEngine.php<b>:</b>57</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>5</td><td bgcolor='#eeeeec' align='center'>1.9454</td><td bgcolor='#eeeeec' align='right'>1913400</td><td bgcolor='#eeeeec'>dbTable->getForeignKey(  )</td><td title='C:\xampp\htdocs\sam\MVC\sys\template\detailRecords.php' bgcolor='#eeeeec'>..\detailRecords.php<b>:</b>14</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>6</td><td bgcolor='#eeeeec' align='center'>1.9454</td><td bgcolor='#eeeeec' align='right'>1913400</td><td bgcolor='#eeeeec'>dbTable->getForeignKeys(  )</td><td title='C:\xampp\htdocs\sam\MVC\sys\classes\lib\dbTable.php' bgcolor='#eeeeec'>..\dbTable.php<b>:</b>583</td></tr>
</table></font>

<input type="<?php  echo $record->getHtmlType('rondes');  ?>" 
	name="rondes" 
	id="rondes"
	value="<?php  echo $record->getRondes();  ?>" 
	<?php  
			echo $record->getHtmlSpecialAttributes('rondes');
	  ?>
	/>



	</td>
</tr>
<tr>
	<td valign="top">
<label for="max_rondes">
	<?php  echo $record->getLabel('max_rondes'); ?>
</label>

	</td>
	<td>
<br />
<font size='1'><table class='xdebug-error xe-notice' dir='ltr' border='1' cellspacing='0' cellpadding='1'>
<tr><th align='left' bgcolor='#f57900' colspan="5"><span style='background-color: #cc0000; color: #fce94f; font-size: x-large;'>( ! )</span> Notice: Undefined index: Create Table in C:\xampp\htdocs\sam\MVC\sys\classes\lib\dbTable.php on line <i>616</i></th></tr>
<tr><th align='left' bgcolor='#e9b96e' colspan='5'>Call Stack</th></tr>
<tr><th align='center' bgcolor='#eeeeec'>#</th><th align='left' bgcolor='#eeeeec'>Time</th><th align='left' bgcolor='#eeeeec'>Memory</th><th align='left' bgcolor='#eeeeec'>Function</th><th align='left' bgcolor='#eeeeec'>Location</th></tr>
<tr><td bgcolor='#eeeeec' align='center'>1</td><td bgcolor='#eeeeec' align='center'>0.1030</td><td bgcolor='#eeeeec' align='right'>478800</td><td bgcolor='#eeeeec'>{main}(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>0</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>2</td><td bgcolor='#eeeeec' align='center'>0.1321</td><td bgcolor='#eeeeec' align='right'>501080</td><td bgcolor='#eeeeec'>MVC->main(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>331</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>3</td><td bgcolor='#eeeeec' align='center'>1.9622</td><td bgcolor='#eeeeec' align='right'>1865240</td><td bgcolor='#eeeeec'>TemplateEngine->execTemplate(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>161</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>4</td><td bgcolor='#eeeeec' align='center'>1.9668</td><td bgcolor='#eeeeec' align='right'>1917832</td><td bgcolor='#eeeeec'>require( <font color='#00bb00'>'C:\xampp\htdocs\sam\MVC\sys\template\detailRecords.php'</font> )</td><td title='C:\xampp\htdocs\sam\MVC\sys\classes\lib\TemplateEngine.php' bgcolor='#eeeeec'>..\TemplateEngine.php<b>:</b>57</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>5</td><td bgcolor='#eeeeec' align='center'>1.9681</td><td bgcolor='#eeeeec' align='right'>1919704</td><td bgcolor='#eeeeec'>dbTable->getForeignKey(  )</td><td title='C:\xampp\htdocs\sam\MVC\sys\template\detailRecords.php' bgcolor='#eeeeec'>..\detailRecords.php<b>:</b>14</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>6</td><td bgcolor='#eeeeec' align='center'>1.9681</td><td bgcolor='#eeeeec' align='right'>1919704</td><td bgcolor='#eeeeec'>dbTable->getForeignKeys(  )</td><td title='C:\xampp\htdocs\sam\MVC\sys\classes\lib\dbTable.php' bgcolor='#eeeeec'>..\dbTable.php<b>:</b>583</td></tr>
</table></font>

<input type="<?php  echo $record->getHtmlType('max_rondes');  ?>" 
	name="max_rondes" 
	id="max_rondes"
	value="<?php  echo $record->getMaxRondes();  ?>" 
	<?php  
			echo $record->getHtmlSpecialAttributes('max_rondes');
	  ?>
	/>



	</td>
</tr>
<tr>
	<td valign="top">
<label for="rondes_perc">
	<?php  echo $record->getLabel('rondes_perc'); ?>
</label>

	</td>
	<td>
<br />
<font size='1'><table class='xdebug-error xe-notice' dir='ltr' border='1' cellspacing='0' cellpadding='1'>
<tr><th align='left' bgcolor='#f57900' colspan="5"><span style='background-color: #cc0000; color: #fce94f; font-size: x-large;'>( ! )</span> Notice: Undefined index: Create Table in C:\xampp\htdocs\sam\MVC\sys\classes\lib\dbTable.php on line <i>616</i></th></tr>
<tr><th align='left' bgcolor='#e9b96e' colspan='5'>Call Stack</th></tr>
<tr><th align='center' bgcolor='#eeeeec'>#</th><th align='left' bgcolor='#eeeeec'>Time</th><th align='left' bgcolor='#eeeeec'>Memory</th><th align='left' bgcolor='#eeeeec'>Function</th><th align='left' bgcolor='#eeeeec'>Location</th></tr>
<tr><td bgcolor='#eeeeec' align='center'>1</td><td bgcolor='#eeeeec' align='center'>0.1030</td><td bgcolor='#eeeeec' align='right'>478800</td><td bgcolor='#eeeeec'>{main}(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>0</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>2</td><td bgcolor='#eeeeec' align='center'>0.1321</td><td bgcolor='#eeeeec' align='right'>501080</td><td bgcolor='#eeeeec'>MVC->main(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>331</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>3</td><td bgcolor='#eeeeec' align='center'>1.9865</td><td bgcolor='#eeeeec' align='right'>1871568</td><td bgcolor='#eeeeec'>TemplateEngine->execTemplate(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>161</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>4</td><td bgcolor='#eeeeec' align='center'>1.9870</td><td bgcolor='#eeeeec' align='right'>1924160</td><td bgcolor='#eeeeec'>require( <font color='#00bb00'>'C:\xampp\htdocs\sam\MVC\sys\template\detailRecords.php'</font> )</td><td title='C:\xampp\htdocs\sam\MVC\sys\classes\lib\TemplateEngine.php' bgcolor='#eeeeec'>..\TemplateEngine.php<b>:</b>57</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>5</td><td bgcolor='#eeeeec' align='center'>1.9882</td><td bgcolor='#eeeeec' align='right'>1926032</td><td bgcolor='#eeeeec'>dbTable->getForeignKey(  )</td><td title='C:\xampp\htdocs\sam\MVC\sys\template\detailRecords.php' bgcolor='#eeeeec'>..\detailRecords.php<b>:</b>14</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>6</td><td bgcolor='#eeeeec' align='center'>1.9882</td><td bgcolor='#eeeeec' align='right'>1926032</td><td bgcolor='#eeeeec'>dbTable->getForeignKeys(  )</td><td title='C:\xampp\htdocs\sam\MVC\sys\classes\lib\dbTable.php' bgcolor='#eeeeec'>..\dbTable.php<b>:</b>583</td></tr>
</table></font>

<input type="<?php  echo $record->getHtmlType('rondes_perc');  ?>" 
	name="rondes_perc" 
	id="rondes_perc"
	value="<?php  echo $record->getRondesPerc();  ?>" 
	<?php  
			echo $record->getHtmlSpecialAttributes('rondes_perc');
	  ?>
	/>



	</td>
</tr>				
				</table>
			</fieldset>
			
			<button
				onclick="
					frm = document.getElementById('frmVwRondesResultaat');
					el_act = document.getElementById('act');
					el_act.value = 'SAVE';
					frm.submit();
				"
			 	type="button">Save</button>
			 <button
				onclick="
					frm = document.getElementById('frmVwRondesResultaat');
					el_act = document.getElementById('act');
					el_act.value = 'REMOVE';
					frm.submit();
				"
			 	type="button">Delete</button>
			 <button
				onclick="
					frm = document.getElementById('frmVwRondesResultaat');
					el_act = document.getElementById('act');
					el_act.value = 'CANCEL';
					frm.submit();
				"
			 	type="button">Cancel</button>
		</form>