		<form 
			id="frmVwUitslag" 
			name="VwUitslag" 
			method="POST" 
			action="/update/vwuitslag"
			class="niceform">
			<input type="hidden" id="act" name="act" value="" />
<!-- 			<input type="hidden" name="uid" value="<?php  echo $record->getUid(); ?>"  /> -->
			<fieldset>
				<legend>VwUitslag</legend>
				<table>
<?php 
	if(isset($messages)) {
		echo '<div class="clsError">';
		foreach ( $messages as $message )
		{	echo $message . '<br/>';
		}
		echo '</div>';
	}
?>				

<tr>
	<td valign="top">
<label for="racedag_klasse_id">
	<?php  echo $record->getLabel('racedag_klasse_id'); ?>
</label>

	</td>
	<td>
<br />
<font size='1'><table class='xdebug-error xe-notice' dir='ltr' border='1' cellspacing='0' cellpadding='1'>
<tr><th align='left' bgcolor='#f57900' colspan="5"><span style='background-color: #cc0000; color: #fce94f; font-size: x-large;'>( ! )</span> Notice: Undefined index: Create Table in C:\xampp\htdocs\sam\MVC\sys\classes\lib\dbTable.php on line <i>616</i></th></tr>
<tr><th align='left' bgcolor='#e9b96e' colspan='5'>Call Stack</th></tr>
<tr><th align='center' bgcolor='#eeeeec'>#</th><th align='left' bgcolor='#eeeeec'>Time</th><th align='left' bgcolor='#eeeeec'>Memory</th><th align='left' bgcolor='#eeeeec'>Function</th><th align='left' bgcolor='#eeeeec'>Location</th></tr>
<tr><td bgcolor='#eeeeec' align='center'>1</td><td bgcolor='#eeeeec' align='center'>0.1030</td><td bgcolor='#eeeeec' align='right'>478800</td><td bgcolor='#eeeeec'>{main}(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>0</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>2</td><td bgcolor='#eeeeec' align='center'>0.1321</td><td bgcolor='#eeeeec' align='right'>501080</td><td bgcolor='#eeeeec'>MVC->main(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>331</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>3</td><td bgcolor='#eeeeec' align='center'>2.1269</td><td bgcolor='#eeeeec' align='right'>1841064</td><td bgcolor='#eeeeec'>TemplateEngine->execTemplate(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>161</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>4</td><td bgcolor='#eeeeec' align='center'>2.1274</td><td bgcolor='#eeeeec' align='right'>1893656</td><td bgcolor='#eeeeec'>require( <font color='#00bb00'>'C:\xampp\htdocs\sam\MVC\sys\template\detailRecords.php'</font> )</td><td title='C:\xampp\htdocs\sam\MVC\sys\classes\lib\TemplateEngine.php' bgcolor='#eeeeec'>..\TemplateEngine.php<b>:</b>57</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>5</td><td bgcolor='#eeeeec' align='center'>2.1313</td><td bgcolor='#eeeeec' align='right'>1958448</td><td bgcolor='#eeeeec'>dbTable->getForeignKey(  )</td><td title='C:\xampp\htdocs\sam\MVC\sys\template\detailRecords.php' bgcolor='#eeeeec'>..\detailRecords.php<b>:</b>14</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>6</td><td bgcolor='#eeeeec' align='center'>2.1313</td><td bgcolor='#eeeeec' align='right'>1958448</td><td bgcolor='#eeeeec'>dbTable->getForeignKeys(  )</td><td title='C:\xampp\htdocs\sam\MVC\sys\classes\lib\dbTable.php' bgcolor='#eeeeec'>..\dbTable.php<b>:</b>583</td></tr>
</table></font>

<input type="<?php  echo $record->getHtmlType('racedag_klasse_id');  ?>" 
	name="racedag_klasse_id" 
	id="racedag_klasse_id"
	value="<?php  echo $record->getRacedagKlasseId();  ?>" 
	<?php  
			echo $record->getHtmlSpecialAttributes('racedag_klasse_id');
	  ?>
	/>



	</td>
</tr>
<tr>
	<td valign="top">
<label for="resultaat_naam">
	<?php  echo $record->getLabel('resultaat_naam'); ?>
</label>

	</td>
	<td>
<br />
<font size='1'><table class='xdebug-error xe-notice' dir='ltr' border='1' cellspacing='0' cellpadding='1'>
<tr><th align='left' bgcolor='#f57900' colspan="5"><span style='background-color: #cc0000; color: #fce94f; font-size: x-large;'>( ! )</span> Notice: Undefined index: Create Table in C:\xampp\htdocs\sam\MVC\sys\classes\lib\dbTable.php on line <i>616</i></th></tr>
<tr><th align='left' bgcolor='#e9b96e' colspan='5'>Call Stack</th></tr>
<tr><th align='center' bgcolor='#eeeeec'>#</th><th align='left' bgcolor='#eeeeec'>Time</th><th align='left' bgcolor='#eeeeec'>Memory</th><th align='left' bgcolor='#eeeeec'>Function</th><th align='left' bgcolor='#eeeeec'>Location</th></tr>
<tr><td bgcolor='#eeeeec' align='center'>1</td><td bgcolor='#eeeeec' align='center'>0.1030</td><td bgcolor='#eeeeec' align='right'>478800</td><td bgcolor='#eeeeec'>{main}(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>0</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>2</td><td bgcolor='#eeeeec' align='center'>0.1321</td><td bgcolor='#eeeeec' align='right'>501080</td><td bgcolor='#eeeeec'>MVC->main(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>331</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>3</td><td bgcolor='#eeeeec' align='center'>2.1536</td><td bgcolor='#eeeeec' align='right'>1910328</td><td bgcolor='#eeeeec'>TemplateEngine->execTemplate(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>161</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>4</td><td bgcolor='#eeeeec' align='center'>2.1541</td><td bgcolor='#eeeeec' align='right'>1962920</td><td bgcolor='#eeeeec'>require( <font color='#00bb00'>'C:\xampp\htdocs\sam\MVC\sys\template\detailRecords.php'</font> )</td><td title='C:\xampp\htdocs\sam\MVC\sys\classes\lib\TemplateEngine.php' bgcolor='#eeeeec'>..\TemplateEngine.php<b>:</b>57</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>5</td><td bgcolor='#eeeeec' align='center'>2.1596</td><td bgcolor='#eeeeec' align='right'>1964840</td><td bgcolor='#eeeeec'>dbTable->getForeignKey(  )</td><td title='C:\xampp\htdocs\sam\MVC\sys\template\detailRecords.php' bgcolor='#eeeeec'>..\detailRecords.php<b>:</b>14</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>6</td><td bgcolor='#eeeeec' align='center'>2.1597</td><td bgcolor='#eeeeec' align='right'>1964840</td><td bgcolor='#eeeeec'>dbTable->getForeignKeys(  )</td><td title='C:\xampp\htdocs\sam\MVC\sys\classes\lib\dbTable.php' bgcolor='#eeeeec'>..\dbTable.php<b>:</b>583</td></tr>
</table></font>

<input type="<?php  echo $record->getHtmlType('resultaat_naam');  ?>" 
	name="resultaat_naam" 
	id="resultaat_naam"
	value="<?php  echo $record->getResultaatNaam();  ?>" 
	<?php  
			echo $record->getHtmlSpecialAttributes('resultaat_naam');
	  ?>
	/>



	</td>
</tr>
<tr>
	<td valign="top">
<label for="straf">
	<?php  echo $record->getLabel('straf'); ?>
</label>

	</td>
	<td>
<br />
<font size='1'><table class='xdebug-error xe-notice' dir='ltr' border='1' cellspacing='0' cellpadding='1'>
<tr><th align='left' bgcolor='#f57900' colspan="5"><span style='background-color: #cc0000; color: #fce94f; font-size: x-large;'>( ! )</span> Notice: Undefined index: Create Table in C:\xampp\htdocs\sam\MVC\sys\classes\lib\dbTable.php on line <i>616</i></th></tr>
<tr><th align='left' bgcolor='#e9b96e' colspan='5'>Call Stack</th></tr>
<tr><th align='center' bgcolor='#eeeeec'>#</th><th align='left' bgcolor='#eeeeec'>Time</th><th align='left' bgcolor='#eeeeec'>Memory</th><th align='left' bgcolor='#eeeeec'>Function</th><th align='left' bgcolor='#eeeeec'>Location</th></tr>
<tr><td bgcolor='#eeeeec' align='center'>1</td><td bgcolor='#eeeeec' align='center'>0.1030</td><td bgcolor='#eeeeec' align='right'>478800</td><td bgcolor='#eeeeec'>{main}(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>0</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>2</td><td bgcolor='#eeeeec' align='center'>0.1321</td><td bgcolor='#eeeeec' align='right'>501080</td><td bgcolor='#eeeeec'>MVC->main(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>331</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>3</td><td bgcolor='#eeeeec' align='center'>2.1770</td><td bgcolor='#eeeeec' align='right'>1916648</td><td bgcolor='#eeeeec'>TemplateEngine->execTemplate(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>161</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>4</td><td bgcolor='#eeeeec' align='center'>2.1775</td><td bgcolor='#eeeeec' align='right'>1969240</td><td bgcolor='#eeeeec'>require( <font color='#00bb00'>'C:\xampp\htdocs\sam\MVC\sys\template\detailRecords.php'</font> )</td><td title='C:\xampp\htdocs\sam\MVC\sys\classes\lib\TemplateEngine.php' bgcolor='#eeeeec'>..\TemplateEngine.php<b>:</b>57</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>5</td><td bgcolor='#eeeeec' align='center'>2.1785</td><td bgcolor='#eeeeec' align='right'>1971160</td><td bgcolor='#eeeeec'>dbTable->getForeignKey(  )</td><td title='C:\xampp\htdocs\sam\MVC\sys\template\detailRecords.php' bgcolor='#eeeeec'>..\detailRecords.php<b>:</b>14</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>6</td><td bgcolor='#eeeeec' align='center'>2.1786</td><td bgcolor='#eeeeec' align='right'>1971160</td><td bgcolor='#eeeeec'>dbTable->getForeignKeys(  )</td><td title='C:\xampp\htdocs\sam\MVC\sys\classes\lib\dbTable.php' bgcolor='#eeeeec'>..\dbTable.php<b>:</b>583</td></tr>
</table></font>

<input type="<?php  echo $record->getHtmlType('straf');  ?>" 
	name="straf" 
	id="straf"
	value="<?php  echo $record->getStraf();  ?>" 
	<?php  
			echo $record->getHtmlSpecialAttributes('straf');
	  ?>
	/>



	</td>
</tr>
<tr>
	<td valign="top">
<label for="klasse_naam">
	<?php  echo $record->getLabel('klasse_naam'); ?>
</label>

	</td>
	<td>
<br />
<font size='1'><table class='xdebug-error xe-notice' dir='ltr' border='1' cellspacing='0' cellpadding='1'>
<tr><th align='left' bgcolor='#f57900' colspan="5"><span style='background-color: #cc0000; color: #fce94f; font-size: x-large;'>( ! )</span> Notice: Undefined index: Create Table in C:\xampp\htdocs\sam\MVC\sys\classes\lib\dbTable.php on line <i>616</i></th></tr>
<tr><th align='left' bgcolor='#e9b96e' colspan='5'>Call Stack</th></tr>
<tr><th align='center' bgcolor='#eeeeec'>#</th><th align='left' bgcolor='#eeeeec'>Time</th><th align='left' bgcolor='#eeeeec'>Memory</th><th align='left' bgcolor='#eeeeec'>Function</th><th align='left' bgcolor='#eeeeec'>Location</th></tr>
<tr><td bgcolor='#eeeeec' align='center'>1</td><td bgcolor='#eeeeec' align='center'>0.1030</td><td bgcolor='#eeeeec' align='right'>478800</td><td bgcolor='#eeeeec'>{main}(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>0</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>2</td><td bgcolor='#eeeeec' align='center'>0.1321</td><td bgcolor='#eeeeec' align='right'>501080</td><td bgcolor='#eeeeec'>MVC->main(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>331</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>3</td><td bgcolor='#eeeeec' align='center'>2.2066</td><td bgcolor='#eeeeec' align='right'>1922928</td><td bgcolor='#eeeeec'>TemplateEngine->execTemplate(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>161</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>4</td><td bgcolor='#eeeeec' align='center'>2.2073</td><td bgcolor='#eeeeec' align='right'>1975520</td><td bgcolor='#eeeeec'>require( <font color='#00bb00'>'C:\xampp\htdocs\sam\MVC\sys\template\detailRecords.php'</font> )</td><td title='C:\xampp\htdocs\sam\MVC\sys\classes\lib\TemplateEngine.php' bgcolor='#eeeeec'>..\TemplateEngine.php<b>:</b>57</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>5</td><td bgcolor='#eeeeec' align='center'>2.2102</td><td bgcolor='#eeeeec' align='right'>1977440</td><td bgcolor='#eeeeec'>dbTable->getForeignKey(  )</td><td title='C:\xampp\htdocs\sam\MVC\sys\template\detailRecords.php' bgcolor='#eeeeec'>..\detailRecords.php<b>:</b>14</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>6</td><td bgcolor='#eeeeec' align='center'>2.2102</td><td bgcolor='#eeeeec' align='right'>1977440</td><td bgcolor='#eeeeec'>dbTable->getForeignKeys(  )</td><td title='C:\xampp\htdocs\sam\MVC\sys\classes\lib\dbTable.php' bgcolor='#eeeeec'>..\dbTable.php<b>:</b>583</td></tr>
</table></font>

<input type="<?php  echo $record->getHtmlType('klasse_naam');  ?>" 
	name="klasse_naam" 
	id="klasse_naam"
	value="<?php  echo $record->getKlasseNaam();  ?>" 
	<?php  
			echo $record->getHtmlSpecialAttributes('klasse_naam');
	  ?>
	/>



	</td>
</tr>
<tr>
	<td valign="top">
<label for="rondes">
	<?php  echo $record->getLabel('rondes'); ?>
</label>

	</td>
	<td>
<br />
<font size='1'><table class='xdebug-error xe-notice' dir='ltr' border='1' cellspacing='0' cellpadding='1'>
<tr><th align='left' bgcolor='#f57900' colspan="5"><span style='background-color: #cc0000; color: #fce94f; font-size: x-large;'>( ! )</span> Notice: Undefined index: Create Table in C:\xampp\htdocs\sam\MVC\sys\classes\lib\dbTable.php on line <i>616</i></th></tr>
<tr><th align='left' bgcolor='#e9b96e' colspan='5'>Call Stack</th></tr>
<tr><th align='center' bgcolor='#eeeeec'>#</th><th align='left' bgcolor='#eeeeec'>Time</th><th align='left' bgcolor='#eeeeec'>Memory</th><th align='left' bgcolor='#eeeeec'>Function</th><th align='left' bgcolor='#eeeeec'>Location</th></tr>
<tr><td bgcolor='#eeeeec' align='center'>1</td><td bgcolor='#eeeeec' align='center'>0.1030</td><td bgcolor='#eeeeec' align='right'>478800</td><td bgcolor='#eeeeec'>{main}(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>0</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>2</td><td bgcolor='#eeeeec' align='center'>0.1321</td><td bgcolor='#eeeeec' align='right'>501080</td><td bgcolor='#eeeeec'>MVC->main(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>331</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>3</td><td bgcolor='#eeeeec' align='center'>2.2297</td><td bgcolor='#eeeeec' align='right'>1929216</td><td bgcolor='#eeeeec'>TemplateEngine->execTemplate(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>161</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>4</td><td bgcolor='#eeeeec' align='center'>2.2302</td><td bgcolor='#eeeeec' align='right'>1981808</td><td bgcolor='#eeeeec'>require( <font color='#00bb00'>'C:\xampp\htdocs\sam\MVC\sys\template\detailRecords.php'</font> )</td><td title='C:\xampp\htdocs\sam\MVC\sys\classes\lib\TemplateEngine.php' bgcolor='#eeeeec'>..\TemplateEngine.php<b>:</b>57</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>5</td><td bgcolor='#eeeeec' align='center'>2.2312</td><td bgcolor='#eeeeec' align='right'>1983728</td><td bgcolor='#eeeeec'>dbTable->getForeignKey(  )</td><td title='C:\xampp\htdocs\sam\MVC\sys\template\detailRecords.php' bgcolor='#eeeeec'>..\detailRecords.php<b>:</b>14</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>6</td><td bgcolor='#eeeeec' align='center'>2.2312</td><td bgcolor='#eeeeec' align='right'>1983728</td><td bgcolor='#eeeeec'>dbTable->getForeignKeys(  )</td><td title='C:\xampp\htdocs\sam\MVC\sys\classes\lib\dbTable.php' bgcolor='#eeeeec'>..\dbTable.php<b>:</b>583</td></tr>
</table></font>

<input type="<?php  echo $record->getHtmlType('rondes');  ?>" 
	name="rondes" 
	id="rondes"
	value="<?php  echo $record->getRondes();  ?>" 
	<?php  
			echo $record->getHtmlSpecialAttributes('rondes');
	  ?>
	/>



	</td>
</tr>
<tr>
	<td valign="top">
<label for="racedag_naam">
	<?php  echo $record->getLabel('racedag_naam'); ?>
</label>

	</td>
	<td>
<br />
<font size='1'><table class='xdebug-error xe-notice' dir='ltr' border='1' cellspacing='0' cellpadding='1'>
<tr><th align='left' bgcolor='#f57900' colspan="5"><span style='background-color: #cc0000; color: #fce94f; font-size: x-large;'>( ! )</span> Notice: Undefined index: Create Table in C:\xampp\htdocs\sam\MVC\sys\classes\lib\dbTable.php on line <i>616</i></th></tr>
<tr><th align='left' bgcolor='#e9b96e' colspan='5'>Call Stack</th></tr>
<tr><th align='center' bgcolor='#eeeeec'>#</th><th align='left' bgcolor='#eeeeec'>Time</th><th align='left' bgcolor='#eeeeec'>Memory</th><th align='left' bgcolor='#eeeeec'>Function</th><th align='left' bgcolor='#eeeeec'>Location</th></tr>
<tr><td bgcolor='#eeeeec' align='center'>1</td><td bgcolor='#eeeeec' align='center'>0.1030</td><td bgcolor='#eeeeec' align='right'>478800</td><td bgcolor='#eeeeec'>{main}(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>0</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>2</td><td bgcolor='#eeeeec' align='center'>0.1321</td><td bgcolor='#eeeeec' align='right'>501080</td><td bgcolor='#eeeeec'>MVC->main(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>331</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>3</td><td bgcolor='#eeeeec' align='center'>2.2487</td><td bgcolor='#eeeeec' align='right'>1935504</td><td bgcolor='#eeeeec'>TemplateEngine->execTemplate(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>161</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>4</td><td bgcolor='#eeeeec' align='center'>2.2491</td><td bgcolor='#eeeeec' align='right'>1988096</td><td bgcolor='#eeeeec'>require( <font color='#00bb00'>'C:\xampp\htdocs\sam\MVC\sys\template\detailRecords.php'</font> )</td><td title='C:\xampp\htdocs\sam\MVC\sys\classes\lib\TemplateEngine.php' bgcolor='#eeeeec'>..\TemplateEngine.php<b>:</b>57</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>5</td><td bgcolor='#eeeeec' align='center'>2.2501</td><td bgcolor='#eeeeec' align='right'>1990016</td><td bgcolor='#eeeeec'>dbTable->getForeignKey(  )</td><td title='C:\xampp\htdocs\sam\MVC\sys\template\detailRecords.php' bgcolor='#eeeeec'>..\detailRecords.php<b>:</b>14</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>6</td><td bgcolor='#eeeeec' align='center'>2.2501</td><td bgcolor='#eeeeec' align='right'>1990016</td><td bgcolor='#eeeeec'>dbTable->getForeignKeys(  )</td><td title='C:\xampp\htdocs\sam\MVC\sys\classes\lib\dbTable.php' bgcolor='#eeeeec'>..\dbTable.php<b>:</b>583</td></tr>
</table></font>

<input type="<?php  echo $record->getHtmlType('racedag_naam');  ?>" 
	name="racedag_naam" 
	id="racedag_naam"
	value="<?php  echo $record->getRacedagNaam();  ?>" 
	<?php  
			echo $record->getHtmlSpecialAttributes('racedag_naam');
	  ?>
	/>



	</td>
</tr>
<tr>
	<td valign="top">
<label for="racedag_datum">
	<?php  echo $record->getLabel('racedag_datum'); ?>
</label>

	</td>
	<td>
<br />
<font size='1'><table class='xdebug-error xe-notice' dir='ltr' border='1' cellspacing='0' cellpadding='1'>
<tr><th align='left' bgcolor='#f57900' colspan="5"><span style='background-color: #cc0000; color: #fce94f; font-size: x-large;'>( ! )</span> Notice: Undefined index: Create Table in C:\xampp\htdocs\sam\MVC\sys\classes\lib\dbTable.php on line <i>616</i></th></tr>
<tr><th align='left' bgcolor='#e9b96e' colspan='5'>Call Stack</th></tr>
<tr><th align='center' bgcolor='#eeeeec'>#</th><th align='left' bgcolor='#eeeeec'>Time</th><th align='left' bgcolor='#eeeeec'>Memory</th><th align='left' bgcolor='#eeeeec'>Function</th><th align='left' bgcolor='#eeeeec'>Location</th></tr>
<tr><td bgcolor='#eeeeec' align='center'>1</td><td bgcolor='#eeeeec' align='center'>0.1030</td><td bgcolor='#eeeeec' align='right'>478800</td><td bgcolor='#eeeeec'>{main}(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>0</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>2</td><td bgcolor='#eeeeec' align='center'>0.1321</td><td bgcolor='#eeeeec' align='right'>501080</td><td bgcolor='#eeeeec'>MVC->main(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>331</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>3</td><td bgcolor='#eeeeec' align='center'>2.2674</td><td bgcolor='#eeeeec' align='right'>1941848</td><td bgcolor='#eeeeec'>TemplateEngine->execTemplate(  )</td><td title='C:\xampp\htdocs\sam\MVC\createMVC.php' bgcolor='#eeeeec'>..\createMVC.php<b>:</b>161</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>4</td><td bgcolor='#eeeeec' align='center'>2.2680</td><td bgcolor='#eeeeec' align='right'>1994440</td><td bgcolor='#eeeeec'>require( <font color='#00bb00'>'C:\xampp\htdocs\sam\MVC\sys\template\detailRecords.php'</font> )</td><td title='C:\xampp\htdocs\sam\MVC\sys\classes\lib\TemplateEngine.php' bgcolor='#eeeeec'>..\TemplateEngine.php<b>:</b>57</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>5</td><td bgcolor='#eeeeec' align='center'>2.2693</td><td bgcolor='#eeeeec' align='right'>1996360</td><td bgcolor='#eeeeec'>dbTable->getForeignKey(  )</td><td title='C:\xampp\htdocs\sam\MVC\sys\template\detailRecords.php' bgcolor='#eeeeec'>..\detailRecords.php<b>:</b>14</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>6</td><td bgcolor='#eeeeec' align='center'>2.2693</td><td bgcolor='#eeeeec' align='right'>1996360</td><td bgcolor='#eeeeec'>dbTable->getForeignKeys(  )</td><td title='C:\xampp\htdocs\sam\MVC\sys\classes\lib\dbTable.php' bgcolor='#eeeeec'>..\dbTable.php<b>:</b>583</td></tr>
</table></font>

<input type="<?php  echo $record->getHtmlType('racedag_datum');  ?>" 
	name="racedag_datum" 
	id="racedag_datum"
	value="<?php  echo $record->getRacedagDatum();  ?>" 
	<?php  
			echo $record->getHtmlSpecialAttributes('racedag_datum');
	  ?>
	/>



	</td>
</tr>				
				</table>
			</fieldset>
			
			<button
				onclick="
					frm = document.getElementById('frmVwUitslag');
					el_act = document.getElementById('act');
					el_act.value = 'SAVE';
					frm.submit();
				"
			 	type="button">Save</button>
			 <button
				onclick="
					frm = document.getElementById('frmVwUitslag');
					el_act = document.getElementById('act');
					el_act.value = 'REMOVE';
					frm.submit();
				"
			 	type="button">Delete</button>
			 <button
				onclick="
					frm = document.getElementById('frmVwUitslag');
					el_act = document.getElementById('act');
					el_act.value = 'CANCEL';
					frm.submit();
				"
			 	type="button">Cancel</button>
		</form>